{% extends "base.html" %}
{% load staticfiles %}
{% load formfilters %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/users/creation.js' %}"></script>
{% endblock %}

{% block main %}
<h4>{% if "create" in request.path %}Create New{% else %}Edit{% endif %} User</h4>
<form method="POST">
    {% csrf_token %}
    <fieldset>
        {% for field in form %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        <span class="danger help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                {% if field|field_type == "CheckboxInput" %}
                <label class="custom-control custom-checkbox">
                    {{ field }}
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ field.label }}</span>
                </label>
                {% else %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-ion">{% if "create" in request.path %}<i class="fa fa-user-plus"></i> Create User{% else %}<i class="fa fa-user"></i> Edit User{% endif %}</button>
    </div>
</form>
{% endblock %}
