{% extends "base.html" %}
{% load staticfiles %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/users/creation.js' %}"></script>
{% endblock %}

{% block main %}
<h4>{% if "create" in request.path %}Create New{% else %}Edit{% endif %} User</h4>
{% if groups %}
<div>Current Groups</div>
<ul>
{% for group in groups %}
    <li>{{ group }}</li>
{% endfor %}
</ul>
{% endif %}
<form method="POST">
    {% csrf_token %}
    {% include "form.html" with form=form %}
    <div class="form-actions">
        <a href="{% url 'user_management' %}" class="btn btn-ion"><i class="fa fa-undo"></i> Back</a>
        <button type="submit" class="btn btn-ion">{% if "create" in request.path %}<i class="fa fa-user-plus"></i> Create User{% else %}<i class="fa fa-user"></i> Edit User{% endif %}</button>
    </div>
</form>
{% endblock %}
