{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <style>
    .yes {
        color: #4CAF50;
    }
    .no {
        color: #F44336;
    }
    .none {
        color: #888;
    }
    textarea {
        max-width: 600px;
        min-height: 150px;
    }
    .user-list {
        margin-bottom: 1rem;
    }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
    $(document).ready(function() {
        $("form").submit(function(e) {
            e.preventDefault();
            $("form button, form textarea").prop("disabled", true);
            $("form button").html("<i class='fa fa-cog fa-spin'></i> Processing...");
            var students = $("#students").val().split("\n");
            var create_webdocs = function() {
                $.post("?json", { students: students.splice(0, 10).join("\n"), legacy: !!$("#legacy-checkbox").val() }, function(data) {
                    $.each(data.success, function(k, v) {
                        var item = $("<div class='yes' />");
                        item.text(v);
                        $("#success-list").append(item);
                    });
                    $.each(data.failure, function(k, v) {
                        var item = $("<div class='no' />");
                        item.text(v);
                        $("#failure-list").append(item);
                    });
                    if (students.length) {
                        create_webdocs();
                    }
                    else {
                        $("form").hide();
                        $("#finished-container").show();
                    }
                }).fail(function() {
                    Messenger().error("An error occured while creating webdocs.");
                    $("form").hide();
                    $("#finished-container").show();
                });
            };
            create_webdocs();
        });
    });
    </script>
    {% include "ajax_csrf.html" %}
{% endblock %}

{% block main %}
<h4>Create Student Websites</h4>
<div id="finished-container" {% if not finished %}style="display:none"{% endif %}>
    <p>Finished creating student websites!</p>
    <b>Successes</b>
    <div id="success-list" class="user-list">
        {% if finished %}
            {% for item in success %}
            <div class="yes">{{ item }}</div>
            {% empty %}
            <div class="none">None</div>
            {% endfor %}
        {% endif %}
    </div>
    <b>Failures</b>
    <div id="failure-list" class="user-list">
        {% if finished %}
            {% for item in failure %}
            <div class="no">{{ item }}</div>
            {% empty %}
            <div class="none">None</div>
            {% endfor %}
        {% endif %}
    </div>
    <p>If any student websites could not be created, check to make sure that the username is correct.</p>
    <a href="{% url 'index' %}" class="btn btn-ion"><i class="fa fa-undo"></i> Back</a>
</div>
{% if not finished %}
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="students">Student IDs</label>
        <textarea class="form-control" id="students" name="students"></textarea>
        <small class="form-text">Please enter a list of student IDs (ex: 2017ewang) separated by newlines.</small>
    </div>
    {% if request.user.is_superuser %}
    <label class="custom-control custom-checkbox">
        <input id="legacy-checkbox" name="legacy" type="checkbox" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Create as Legacy</span>
    </label>
    <br />
    {% endif %}
    <a href="{% url 'index' %}" class="btn btn-ion"><i class="fa fa-undo"></i> Back</a>
    <button class="btn btn-ion"><i class="fa fa-plus"></i> Create Websites</button>
</form>
{% endif %}
{% endblock %}
