{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
<input class="form-control search-box" data-search="#users .user" data-fields=".name" type="text" placeholder="&#xf002; Search Users" />
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_management.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/users/tooltip.js' %}"></script>
{% endblock %}

{% block main %}
<div class="subheading clearfix">
    <h3 class="pull-left">User Admin</h3>
    <a href="{% url 'create_user' %}" class="pull-right btn btn-ion"><i class="fa fa-user-plus"></i> Create User</a>
</div>
<div id="users">
    {% for user in users %}
        <a href="{% url 'edit_user' user.id %}" class="user">
            <span class="name"><i class="fa {% if user.is_active %}fa-user{% else %}fa-lock{% endif %}"></i> <span class="full-name">{{ user.full_name }}</span> <span class="username">{{ user.username }}</span></span>
            {% if user.is_superuser %}<span class="pull-right tag tag-warning">Admin</span>{% endif %}{% if user.is_staff %}<span class="pull-right tag tag-success">Staff</span>{% endif %}
            {% if user.github_token %}<span data-toggle="tooltip" class="pull-right tag tag-default tag-git"><i class="fa fa-github-alt"></i> Git</span>{% endif %}
        </a>
    {% endfor %}
</div>
{% endblock %}
