appdirs==1.4.2
contextlib2==0.5.5
defusedxml==0.5.0
Django==1.11.1
django-debug-toolbar==1.8
django-extensions==1.7.9
gunicorn==19.7.1
ion-oauth==0.1
ldap3==2.2.4
mysqlclient==1.3.10
oauthlib==2.0.2
packaging==16.8
psycopg2==2.7.1
pyasn1==0.2.3
PyJWT==1.5.0
pyparsing==2.1.10
python3-openid==3.1.0
pytz==2017.2
raven==6.1.0
requests==2.14.2
requests-oauthlib==0.8.0
six==1.10.0
social-auth-app-django==1.2.0
social-auth-core==1.3.0
sqlparse==0.2.3
