[Unit]
Description=Conductor agent
After=syslog.target

[Service]
Type=notify
ExecStart=/usr/bin/uwsgi --ini /usr/local/director/conductor/conductor-agent.ini
Restart=always
KillSignal=SIGQUIT
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
