{% extends "vms/base.html" %}
{% load staticfiles %}
{% load formfilters %}

{% block title %}{{ vm.name }} - {{ block.super }}{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/vm_info.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/vms/info.js' %}"></script>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">
        <h3>{{ vm.name }}</h3>
        <p>
            <b>UUID:</b> {{ vm.uuid }}<br />
            <b>Hostname:</b> {{ vm.hostname }}<span style="color:#888">.vm.sites.tjhsst.edu</span><br />
            <b>Description:</b> {{ vm.description|default:"None" }}<br />
            <b>Owner:</b> {{ vm.owner.username|default:"None" }}<br />
            <b>Users:</b> {{ vm.users.all|join:", "|default:"None" }}<br />
            <b>State:</b> {% if vm_state == 0 %}<span style="color:#4CAF50">Running</a>{% elif vm_state == None %}<span style="color:#FBC02D">Unknown</span>{% else %}<span style="color:#F44336">Not Running{% endif %}</span><br />
            {% if vm_state == 0 %}
            <b>IP(s):</b> {{ vm_ips|join:", "|default:"None" }}<br />
            {% endif %}
            <b>Root Password:</b> {% if vm.password %}<span tabindex="0" class="vm-password">{{ vm.password }}</span>{% else %}Not set{% endif %}
        </p>

        {% if vm_state == 0 %}
        <a href="{% url 'vm_terminal' vm.id %}" class="btn btn-ion"><i class="fa fa-terminal"></i> Web Terminal</a>
        <form style="display:inline-block" action="{% url 'set_vm_password' vm.id %}" method="POST">{% csrf_token %}<button type="submit" class="btn btn-ion"><i class="fa fa-key"></i> Set Root Password</button></form>
        <form style="display:inline-block" action="{% url 'stop_vm' vm.id %}" method="POST">{% csrf_token %}<button type="submit" class="btn btn-ion"><i class="fa fa-power-off"></i> Power Off</button></form>
        {% else %}
        <form style="display:inline-block" action="{% url 'start_vm' vm.id %}" method="POST">{% csrf_token %}<button type="submit" class="btn btn-ion"><i class="fa fa-power-off"></i> Power On</button></form>
        {% endif %}
        <br /><br />

        <a href="{% url 'vm_list' %}" class="btn btn-ion"><i class="fa fa-undo"></i> Back</a>
        {% if owner %}
        <a href="{% url 'vm_edit' vm.id %}" class="btn btn-ion"><i class="fa fa-pencil"></i> Edit VM</a>
        <a href="{% url 'vm_delete' vm.id %}" class="btn btn-ion btn-danger"><i class="fa fa-trash-o"></i> Delete VM</a>
        {% endif %}
        <br /><br />
    </div>
</div>
{% endblock %}
