{% extends "vms/base.html" %}
{% load staticfiles %}
{% load simplefilters %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/vm_list.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
{% endblock %}

{% block main %}
<div class="subheading clearfix">
    <h3 class="pull-left">Virtual Machines <span id="filtered"></span></h3>
    <a href="{% url 'create_vm' %}" class="pull-right btn btn-ion"><i class="fa fa-plus"></i> Create VM</a>
</div>
<div id="vms">
{% for vm in vm_list %}
{% with status=vm_status|lookup:vm.uuid %}
<a href="{% url 'vm_info' vm.id %}" class="vm clearfix">
    {% if vm.site %}<span class="pull-right tag tag-success">Site</span>{% endif %}
    <i class="pull-left fa fa-2x fa-fw fa-cube"><span class="{% if status == "RUNNING" %}green{% elif status == "STOPPED" %}red{% endif %}" /></i>
    <b class="name">{{ vm.name }}</b> <span class="owner">{{ vm.owner.username|default:"No Owner" }}</span>
    <div class="sub">{{ vm.description|default:"No Description" }}</div>
</a>
{% endwith %}
{% endfor %}
{% for vm in su_vm_list %}
{% with status=vm_status|lookup:vm.uuid %}
<a href="{% url 'vm_info' vm.id %}" class="vm clearfix">
    <span class="pull-right tag tag-warning">Admin</span>
    {% if vm.site %}<span class="pull-right tag tag-success">Site</span>{% endif %}
    <i class="pull-left fa fa-2x fa-fw fa-cube"><span class="{% if status == "RUNNING" %}green{% elif status == "STOPPED" %}red{% endif %}" /></i>
    <b class="name">{{ vm.name }}</b> <span class="owner">{{ vm.owner.username|default:"No Owner" }}</span>
    <div class="sub">{{ vm.description|default:"No Description" }}</div>
</a>
{% endwith %}
{% endfor %}
{% if vm_list|length == 0 and su_vm_list|length == 0 %}
<p id="empty">You have no virtual machines!</p>
{% endif %}
{% endblock %}
