{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
<input class="form-control search-box" id="select-vm" type="text" placeholder="&#xf002; Search Virtual Machines" />
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/vm_list.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/vms/search.js' %}"></script>
{% endblock %}

{% block main %}
<div class="subheading clearfix">
    <h3 class="pull-left">Virtual Machines</h3>
    {% if request.user.is_superuser %}
    <a href="{% url 'create_vm' %}" class="pull-right btn btn-ion"><i class="fa fa-plus"></i> Create VM</a>
    {% endif %}
</div>
<div id="vms">
{% for vm in vm_list %}
<a href="{% url 'vm_info' vm.id %}" class="vm clearfix">
    <i class="pull-left fa fa-2x fa-fw fa-cube"></i>
    <b class="name">{{ vm.name }}</b>
    <div class="sub">{{ vm.description|default:"No Description" }}</div>
</a>
{% endfor %}
{% for vm in su_vm_list %}
<a href="{% url 'vm_info' vm.id %}" class="vm clearfix">
    <span class="pull-right tag tag-warning">Superuser</span>
    <i class="pull-left fa fa-2x fa-fw fa-cube"></i>
    <b class="name">{{ vm.name }}</b>
    <div class="sub">{{ vm.description|default:"No Description" }}</div>
</a>
{% endfor %}
{% if vm_list|length == 0 and su_vm_list|length == 0 %}
<p id="empty">You have no virtual machines!</p>
{% endif %}
{% endblock %}
