{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
    .main {
        max-width: 600px;
        margin: 0 auto;
    }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block main %}
<h4>Send Director Feedback</h4>
<p>Please use this form to send feedback about Director. We may follow up with you via the email address under Settings. Thanks!</p>
<p>If you'd like to add a screenshot, use "Snipping Tool" on Windows or Cmd-Shift-4 on a Mac, upload the file to <a target="_blank" href="https://imgur.com/">Imgur</a> or another file host, and share the public link below.</p>
<form action="{% url 'feedback' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_feedback">Comments</label>
        <textarea id="id_feedback" name="feedback" class="form-control" cols="40" rows="10" required></textarea>
    </div>
    <button type="submit" class="btn btn-ion">Submit</button>
</form>
{% endblock %}
