{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/site_request.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
    var lookup_endpoint = "{% url 'teacher_lookup' %}";
    $(document).ready(function() {
        $('#select-teacher').selectize({
                valueField: 'username',
                labelField: 'name',
                searchField: 'name',
                create: false,
                render: {
                    option: function(item, escape) {
                        return '<div>' +
                            '<span class="title">' +
                                '<span class="name"><i class="fa fa-user"></i> ' + escape(item.name) + '</span><br />' +
                                '<span class="by">' + escape(item.username) + '</span>' +
                            '</span>' +
                        '</div>';
                    }
                },
                score: function(search) {
                    var score = this.getScoreFunction(search);
                    return function(item) {
                        return score(item);
                    };
                },
                load: function(query, callback) {
                    if (!query.length) return callback();
                    $.ajax({
                        url: lookup_endpoint + "?name=" + encodeURIComponent(query),
                        type: 'GET',
                        error: function() {
                            callback();
                        },
                        success: function(res) {
                            callback(res.teachers.slice(0, 10));
                        }
                    });
                }
            });
    });
    </script>
{% endblock %}

{% block main %}
{% if requests %}
{% if request.user.is_superuser %}
<a href="{% url 'approve_site' %}" class="pull-right">Approve Requests</a>
{% endif %}
<h3>Submitted Requests</h3>
<div class="submitted">
    {% for r in requests %}
    <div class="submission">
        <span class="activity">{{ r.activity }}</span> - {{ r.request_date }} - {{ r.teacher.full_name }}<br />
        <i class="fa fa-{% if r.teacher_approval %}check{% else %}times{% endif %}"></i> Teacher Authorization - <i class="fa fa-{% if r.admin_approval %}check{% else %}times{% endif %}"></i> Processed
    </div>
    {% endfor %}
</div>
<hr />
{% endif %}
<h3>Website Request Form</h3>
<div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> This form only applies to student activity websites. If you want a personal website, ask Samuel Damashek, Eric Wang, Omkar Kulkarni, James Houghton, or another Sysadmin in Room 200C.</div>
<p>Please fill out the form below if you want a website for your activity. You will be notified about the status of your request via email, or you may check with a Student Systems Administrator at any time. <b>You will need a teacher's approval if you need services for a class or club / group / organization that is recognized by the 8th period office and the TJHSST administration.</b> This request will be valid until the end of the current school year. Service requests must be submitted before the last day of the school year for requested services to not expire. If you have any questions, please contact <a href="mailto:sysadmins@tjhsst.edu">sysadmins@tjhsst.edu</a>.</p>
<hr />
<form method="POST">
    {% csrf_token %}
    <h4>Student Information</h4>
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" value="{{ request.user.full_name }}" readonly />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" value="{{ request.user.email }}" readonly />
        <small class="form-text">We will send an email to this address after your website request has been approved.</small>
    </div>
    <h4>Services</h4>
    <div class="form-group">
        <label>Activity Name</label>
        <input type="text" name="name" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Other Details</label>
        <textarea name="extra" class="form-control"></textarea>
        <small class="form-text">You can specify any additional software you want installed on the web server here. Once your request is granted, you will have the option to create either a PostgreSQL or MySQL database.</small>
    </div>
    <h4>Teacher Authorization</h4>
    <p>Please select the teacher that you want to approve the request. Once this form is submitted, that teacher will be emailed with instructions on how to approve this website request.</p>
    <div class="form-group">
        <label for="select-teacher">Teacher</label>
        <div class="input-group">
            <select id="select-teacher" placeholder="Please select a teacher" name="teacher" required></select>
        </div>
        <small class="form-text">Type in the teacher's name into the box above. The dropdown will automatically populate after a few characters.</small>
    </div>
    <h4>Student Agreement</h4>
    <div id="guidelines">{% include "guidelines.html" %}</div>
    <label class="custom-control custom-checkbox">
        <input type="checkbox" name="agreement" class="custom-control-input" required />
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">I have read, understood, and agree to abide by the rules outlined in the Computer Systems Lab Policy, the TJHSST World-Wide Website Guidelines, the FCPS Acceptable Use Policy, and the FCPS Student Rights and Responsibilities. I understand that the above services may be revoked at any time and other disciplinary actions may occur if I directly or indirectly violate any guidelines as outlined in the above policies.</span>
    </label>
    <a href="{% url 'index' %}" class="btn btn-ion"><i class="fa fa-undo"></i> Back</a>
    <button type="submit" class="btn btn-ion">Submit</button>
</form>
{% if request.user.is_superuser %}
<hr />
<a href="{% url 'approve_site' %}">Teacher Approval</a> - <a href="{% url 'admin_site' %}">Admin Approval</a>
{% endif %}
{% endblock %}
