{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
    h1 {
        margin: 6px 0;
    }

    .main {
        width: 100%;
        max-width: none;
        position: initial;
    }

    .login-box {
        background: white;
        padding: 15px;
        border: 1px solid #0048ab;
        position: absolute;
        left: 50%;
        width: 438px;
        margin-left: -219px;
    }

    .login-box p {
        text-align: center;
    }
    </style>
{% endblock %}

{% block main %}
    <div class="login-box">
        <p><b>Request to Create a New Website</b></p>
        <center>
            <p>Hi There! If you are looking for how to create a new website, you need to fill out a Syslab Services Request form found <a href="https://sysadmins.tjhsst.edu/SyslabServiceRequestForm-2016.pdf" target="_blank" rel="noopener noreferrer">here</a>. Please deliver it to either <a href="mailto:2017ewang@tjhsst.edu" target="_blank">Eric Wang</a>, <a href="mailto:okulkarni@tjhsst.edu" target="_blank">Omkar Kulkarni</a>, or another sysadmin in Room 200.</p>
        </center>

    </div>
{% endblock %}