{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/site_request.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
    var lookup_endpoint = "{% url 'teacher_lookup' %}";
    $(document).ready(function() {
        $("#teacher-search").keydown(function(e) {
            if (e.which == 13) {
                $("#search-btn").click();
            }
        });
        $("#search-btn").click(function(e) {
            e.preventDefault();
            $("#teacher-list li").remove();
            var name = $("#teacher-search").val();
            if (!name) {
                return;
            }
            $("#search-btn, #teacher-search").prop("disabled", true);
            $.get(lookup_endpoint + "?name=" + encodeURIComponent(name), function(data) {
                var teachers = data.teachers;
                if (teachers.length == 0) {
                    Messenger().error("No teachers found with that search query!");
                }
                else if (teachers.length == 1) {
                    $("#teacher-username").val(teachers[0].username);
                    $("#teacher-name").text(teachers[0].name);
                }
                else {
                    $.each(teachers, function(k, v) {
                        var ele = $("<li />");
                        ele.text(v.name);
                        ele.attr("data-id", v.username);
                        $("#teacher-list").append(ele);
                    });
                }
            }).always(function() {
                $("#search-btn, #teacher-search").prop("disabled", false);
            });
        });
        $("#teacher-list").on("click", "li", function(e) {
            e.preventDefault();
            $("#teacher-username").val($(this).attr("data-id"));
            $("#teacher-name").text($(this).text());
        });
    });
    </script>
{% endblock %}

{% block main %}
{% if requests %}
{% if request.user.is_superuser %}
<a href="{% url 'approve_site' %}" class="pull-right">Approve Requests</a>
{% endif %}
<h3>Submitted Requests</h3>
<div class="submitted">
    {% for r in requests %}
    <div class="submission">
        <span class="activity">{{ r.activity }}</span> - {{ r.request_date }} - {{ r.teacher.full_name }}<br />
        <i class="fa fa-{% if r.teacher_approval %}check{% else %}times{% endif %}"></i> Teacher Authorization - <i class="fa fa-{% if r.admin_approval %}check{% else %}times{% endif %}"></i> Processed
    </div>
    {% endfor %}
</div>
<hr />
{% endif %}
<h3>Website Request Form</h3>
<p>Please fill out the form below if you want a website for your activity. You will be notified about the status of your request via email, or you may check with a Student Systems Administrator at any time. <b>You will need a teacher's approval if you need services for a class or club/group/organization that is recognized by the 8th period office and the TJHSST administration.</b> This request will be valid until the end of the current school year. Service requests must be submitted before the last day of the school year for requested services to not expire. If you have any questions, please contact <a href="mailto:sysadmins@tjhsst.edu">sysadmins@tjhsst.edu</a>.</p>
<hr />
<form method="POST">
    {% csrf_token %}
    <h4>Student Information</h4>
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" value="{{ request.user.full_name }}" readonly />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" value="{{ request.user.email }}" readonly />
        <small class="form-text">We will send an email to this address after your website request has been approved.</small>
    </div>
    <h4>Services</h4>
    <div class="form-group">
        <label>Activity Name</label>
        <input type="text" name="name" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Other Details</label>
        <textarea name="extra" class="form-control"></textarea>
        <small class="form-text">You can specify any additional software you want installed on the web server here.</small>
    </div>
    <h4>Teacher Authorization</h4>
    <p>You can use the tool below to search for the teacher you want to send the request to. Once this form is submitted, that teacher will be emailed with instructions on how to approve this website request.</p>
    <div class="form-group">
        <div class="input-group">
            <input id="teacher-search" class="form-control" placeholder="Teacher Name" />
            <span class="input-group-btn">
                <button id="search-btn" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
            </span>
        </div>
    </div>
    <input type="hidden" id="teacher-username" name="teacher" required />
    <ul id="teacher-list"></ul>
    <p>Selected Teacher: <b id="teacher-name">None</b></p>
    <h4>Student Agreement</h4>
    <div id="guidelines">{% include "guidelines.html" %}</div>
    <label class="custom-control custom-checkbox">
        <input type="checkbox" name="agreement" class="custom-control-input" required />
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">I have read, understood, and agree to abide by the rules outlined in the Computer Systems Lab Policy, the TJHSST World-Wide Website Guidelines, the FCPS Acceptable Use Policy, and the FCPS Student Rights and Responsibilities. I understand that the above services may be revoked at any time and other disciplinary actions may occur if I directly or indirectly violate any guidelines as outlined in the above policies.</span>
    </label>
    <a href="{% url 'index' %}" class="btn btn-ion"><i class="fa fa-undo"></i> Back</a>
    <button type="submit" class="btn btn-ion">Submit</button>
</form>
{% endblock %}
