{% extends "base.html" %}
{% load staticfiles %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/sites/creation.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#id_site").selectize();
            $("#files li").click(function(e) {
                e.preventDefault();
                $("#id_path").val($(this).text());
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
    #files {
        max-height: 120px;
        overflow: auto;
        border: 1px solid #ccc;
        padding-left: 0;
        list-style: none;
    }
    #files li {
        padding-left: 5px;
        cursor: pointer;
    }
    #files li:hover {
        background-color: #eee;
    }
    </style>
{% endblock %}

{% block mainclass %}narrow{% endblock %}

{% block main %}
<h4>{% if "create" in request.path %}Create New{% elif "edit" in request.path %}Edit{% else %}Create/Edit{% endif %} Process</h4>
<div>Before adding or editing a process, make sure that your script file:</div>
<ul>
    <li>Is marked as executable (<span class="path">chmod +x &lt;script&gt;</span>)</li>
    <li>Contains a shebang (<span class="path">#!/bin/sh</span> or similar)</li>
    <li>Runs the server on the correct port (use the <span class="path">$PORT</span> variable)</li>
</ul>
<form method="POST">
    {% csrf_token %}
    {% include "form.html" with form=form %}
    {% if files %}
    <div>Executable files:</div>
    <ul id="files">
    {% for file in files %}
        <li>{{ file }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <div class="form-actions">
        <a href="{% url 'info_site' site.id %}" class="btn btn-ion"><i class="fa fa-undo"></i> Back</a>
        <button type="submit" class="btn btn-ion">Submit</button>
    </div>
</form>
{% endblock %}
