{% extends "base.html" %}

{% block navbar %}
<a href="{% url 'info_site' site.id %}">{{ site.name }}</a>
{% endblock %}

{% block main %}
<h3>Confirm Site Deletion</h3>
<p>Are you sure you want to delete <b>{{ site.name }}</b>? <span style="color:red">This action is permanant and irreversible!</span></p>
<p><b>All files associated with the site will be deleted!</b> Make a backup of these files if you want to keep the site.</p>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="confirm">Enter the site name below to confirm:</label>
        <input type="text" placeholder="Site Name" id="confirm" name="confirm" class="form-control" autofocus />
    </div>
    <a href="{% url 'info_site' site.id %}" class="btn btn-ion"><i class="fa fa-undo"></i> Back</a>
    <button type="submit" class="btn btn-ion btn-danger"><i class="fa fa-trash-o"></i> Delete Site</button>
</form>
{% endblock %}
