{% extends "sites/base.html" %}
{% load staticfiles %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
    var sql_endpoint = "{% url 'sql_database' site.id %}";
    var back_endpoint = "{% url 'info_site' site.id %}";

    $(document).ready(function() {
        registerConsole($("#sql-console-wrapper .sql-console"), function() {
            window.location.href = back_endpoint;
        });
    });
    </script>
    {% include "ajax_csrf.html" %}
    <script type="text/javascript" src="{% static 'js/sql_console.js' %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/sql_console.css' %}" />
{% endblock %}

{% block main %}
<div id="sql-console-wrapper">
    <div class="sql-console">
        <pre class="output"><b>database: {{ site.database.db_name }}, user: {{ site.database.username }}, type: {{ site.database.category }}</b>
    </pre>
        <table><tr><td class="ps">{{ site.database.db_name }}=&gt; </td><td class="input-td"><input autofocus class="input" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" /></td></tr></table>
    </div>
</div>
{% endblock %}
