{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <style>
    #files .folder, #files .file {
        cursor: pointer;
        white-space: nowrap;
    }
    #files .folder:hover, #files .file:hover {
        background-color: #ddd;
    }
    .main {
        padding: 0;
    }
    #files {
        float: left;
        padding: 10px;
        overflow: auto;
        width: 250px;
        height: calc(100vh - 40px);
    }
    #editor {
        float: right;
        width: calc(100vw - 270px);
        height: calc(100vh - 40px);
    }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
var path_endpoint = "{% url 'editor_path' site.id %}";
$(document).ready(function() {
    var editor = ace.edit("editor");
    editor.setOptions({
        "fontSize": "12pt",
        "showPrintMargin": false
    });
    editor.setTheme("ace/theme/chrome");
    $("#files").on("click", ".file", function(e) {
        // TODO: implement open file in editor
    });
    $("#files").on("click", ".folder", function(e) {
        e.preventDefault();
        var t = $(this);
        if (t.hasClass("loaded")) {
            var depth = parseInt(t.attr("data-depth"));
            var contracted = t.find(".exp").hasClass("fa-caret-down");
            var children = t.nextUntil("div.folder[data-depth=" + depth + "]");
            if (contracted) {
                t.find(".exp").removeClass("fa-caret-down").addClass("fa-caret-up");
                children.show();
                children.find(".exp").each(function(k, v) {
                    var folder = $(this).parent();
                    var expand = folder.find(".exp").hasClass("fa-caret-up");
                    var children = folder.nextUntil("div.folder[data-depth=" + folder.attr("data-depth") + "]").filter(function(v) { return $(this).attr("data-depth") > folder.attr("data-depth"); });
                    if (!expand) {
                        children.hide();
                    }
                });
            }
            else {
                t.find(".exp").removeClass("fa-caret-up").addClass("fa-caret-down");
                children.hide();
            }
        }
        else {
            var depth = parseInt(t.attr("data-depth"));
            var loop_depth = depth;
            var loop_path = "";
            var loop_t = t;
            while (true) {
                loop_depth -= 1;
                if (loop_depth < 0) {
                    break;
                }
                var new_t = loop_t.prevAll("div.folder[data-depth=" + loop_depth + "]:first");
                loop_path = new_t.attr("data-name") + "/" + loop_path;
                loop_t = new_t;
            }
            t.addClass("loaded");
            $.get(path_endpoint + "?path=" + encodeURIComponent(loop_path + t.attr("data-name")), function(data) {
                if (data.error) {
                    Messenger().error(data.error);
                }
                else {
                    $.each(data.files, function(k, v) {
                        var c = (v.type == "f" ? "file" : "folder");
                        var node = $("<div style='margin-left:" + (depth + 1)*20 + "px'><i class='fa fa-fw fa-" + c + "-o'></i> " + $("<div />").text(v.name).html() + "</div>");
                        node.addClass(c);
                        node.attr("data-name", v.name);
                        node.attr("data-depth", depth + 1);
                        if (v.type == "d") {
                            node.append(" <i class='exp fa fa-caret-down'>");
                        }
                        t.after(node);
                    });
                    t.find(".exp").removeClass("fa-caret-down").addClass("fa-caret-up");
                }
            });
        }
    });
    $.get(path_endpoint, function(data) {
        if (data.error) {
            Messenger().error(data.error);
        }
        else {
            $.each(data.files, function(k, v) {
                var c = (v.type == "f" ? "file" : "folder");
                var node = $("<div><i class='fa fa-fw fa-" + c + "-o'></i> " + $("<div />").text(v.name).html() + "</div>");
                node.addClass(c);
                node.attr("data-name", v.name);
                node.attr("data-depth", 0);
                if (v.type == "d") {
                    node.append(" <i class='exp fa fa-caret-down'>");
                }
                $("#files").append(node);
            });
            $("div.folder[data-name='public']").click();
        }
    });
});
</script>
{% endblock %}

{% block navbar %}
<a href="{% url 'info_site' site.id %}">{{ site.name }}</a>
{% endblock %}

{% block main %}
<div id="files"></div>
<div id="editor"></div>
{% endblock %}
