{% extends "base.html" %}
{% load staticfiles %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
    var sql_endpoint = "{% url 'sql_database' site.id %}";
    var csrf_token = "{{ csrf_token }}";
    $(document).ready(function() {
        $("#console").click(function() {
            $("#input").focus();
        });
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        });
        $("#input").keypress(function(e) {
            if (e.which == 13) {
                var val = $(this).val();
                if (val) {
                    $("#output").append($("#ps").text() + val + "\n");
                    $.post(sql_endpoint, {"sql": val}, function(data) {
                        $("#output").append(data);
                        $("#console").scrollTop($("#console")[0].scrollHeight);
                    });
                    $(this).val("");
                }
                else {
                    $("#output").append($("#ps").text() + "\n");
                }
                $("#console").scrollTop($("#console")[0].scrollHeight);
            }
        });
    });
    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
    .main {
        padding: 0;
    }
    #console {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        font-size: 16px;
        font-family: monospace;
        overflow-y: hidden;
    }
    #output {
        font-size: 16px;
        font-family: monospace;
        width: 100%;
        padding: 15px;
        margin: 0;
        padding-bottom: 0;
    }
    #input {
        font-family: monospace;
        font-size: 16px;
        border: none;
        padding: 0;
    }
    #console table {
        white-space: pre;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    #console table tr, #console table td {
        margin: 0;
        padding: 0;
    }
    #input:focus {
        outline: none;
    }
    </style>
{% endblock %}

{% block main %}
<div id="console">
    <pre id="output">database: {{ site.database.db_name }}, user: {{ site.database.username }}, type: {{ site.database.category }}
</pre>
    <table><tr><td id="ps">{{ site.database.db_name }}=&gt; </td><td><input autofocus id="input" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" /></td></tr></table>
</div>
{% endblock %}
