{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.4.1/jquery.contextMenu.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/site_editor.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ext-modelist.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.4.1/jquery.contextMenu.min.js"></script>
    <script type="text/javascript" src="{% static 'js/sites/editor.js' %}"></script>
    <script type="text/javascript">
    var path_endpoint = "{% url 'editor_path' site.id %}";
    var load_endpoint = "{% url 'editor_load' site.id %}";
    var save_endpoint = "{% url 'editor_save' site.id %}";
    var csrftoken = "{{ csrf_token }}";
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    </script>
{% endblock %}

{% block navbar %}
<a href="{% url 'info_site' site.id %}">{{ site.name }}</a>
{% endblock %}

{% block main %}
<div id="files"></div>
<div id="editor-wrapper">
    <div id="tabs"><div class="tab active tab-help"><i class="fa fa-question-circle"></i></div></div>
    <div id="editor"></div>
</div>
{% endblock %}
