{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/site_info.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
    var git_pull_endpoint = "{% url 'git_pull' site.id %}";
    </script>
    <script type="text/javascript" src="{% static 'js/sites/info.js' %}"></script>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-6">
        <h3>{{ site.name }}</h3>
        <p>
            <b>URL:</b> <a href="{{ site.url }}" target="_blank">{{ site.url }}</a><br />
            <b>Type:</b> {{ site.get_purpose_display }} - {{ site.get_category_display }}<br />
            <b>Description:</b> {{ site.description|default:"None" }}<br />
            <b>Site User:</b> {{ site.user.username }} ({{ site.user.id }})<br />
            <b>Site Group:</b> {{ site.group.name }} ({{ site.group.id }})<br />
            <b>Users:</b> {{ users|join:", "|default:"None" }}
            {% if site.category == "dynamic" %}<br />
            <b>Process:</b> <a href="{% url 'edit_process' site.id %}">{% if site.process %}<span class="path">{{ site.process.path }}</span>{% else %}None{% endif %}</a><br />
            {% if site.process %}<b>Process Status</b>: <span class="path">{{ status }}</span><br />
            <a href="{% url 'restart_process' site.id %}" class="btn btn-ion"><i class="fa fa-retweet"></i> Restart Process</a>
            <a href="{% url 'delete_process' site.id %}" class="btn btn-ion btn-danger"><i class="fa fa-trash-o"></i> Delete Process</a>
            {% endif %}
            {% endif %}
        </p>

        <p>You can edit this site by connecting to <span class="path">remote.tjhsst.edu</span> and changing directories to <span class="path">{{ site.path }}</span>.</p>

        {% if site.custom_nginx %}
        <p><i class="fa fa-exclamation-triangle"></i> This site has a custom nginx configuration.</p>
        {% endif %}
        <a href="{% url 'config_site' site.id %}" class="btn btn-ion"><i class="fa fa-refresh"></i> Rewrite Configuration</a>
        <a href="{% url 'permission_site' site.id %}" class="btn btn-ion"><i class="fa fa-wrench"></i> Reset Permissions</a>

        <br /><br />

        <a href="{% url 'index' %}" class="btn btn-ion"><i class="fa fa-undo"></i> Back</a>
        <a href="{% url 'edit_site' site.id %}" class="btn btn-ion"><i class="fa fa-pencil"></i> Edit Site</a>
        {% if request.user.is_superuser %}
        <a href="{% url 'delete_site' site.id %}" class="btn btn-ion btn-danger"><i class="fa fa-trash-o"></i> Delete Site</a>
        {% endif %}
        <br /><br />
    </div>
    <div class="col-md-6">
        {% if site.category != "static" %}
        <h4><i class="fa fa-database"></i> Databases</h4>
        {% if site.database %}
        <p>This site has a <b>{{ site.database.get_category_display }}</b> database associated with it.</p>
        <div class="form-group">
            <input id="database-url" ondblclick="this.select();" type="text" class="form-control" readonly value="{% if site.database.category == "postgresql" %}postgres{% else %}mysql{% endif %}://{{ site.database.username }}:{{ site.database.password }}@{% if site.database.category == "postgresql" %}postgres1:5432{% else %}mysql1:3306{% endif %}/{{ site.database.db_name }}" />
            <span class="help-text"><small>&lt;type&gt;://&lt;username&gt;:&lt;password&gt;@&lt;server&gt;:&lt;port&gt;/&lt;database&gt;</small></span>
        </div>
        <a id="generate-database-password" href="{% url 'regenerate_database' site.id %}" class="btn btn-ion"><i class="fa fa-key"></i> Regenerate Password</a> <a href="{% url 'delete_database' site.id %}" class="btn btn-ion btn-danger"><i class="fa fa-trash-o"></i> Delete Database</a>
        {% else %}
        <p>This site has no databases associated with it.</p>
        <a href="{% url 'edit_database' site.id %}" class="btn btn-ion"><i class="fa fa-plus"></i> Add Database</a>
        {% endif %}
        <br /><br />
        {% endif %}
        {% if site.has_repo %}
        <h4><i class="fa fa-github"></i> GitHub Integration</h4>
        <div id="commit" class="clearfix">
            <i class="fa fa-code-fork pull-left"></i> <div class="path pull-left">{{ latest_commit }}</div>
        </div>
        <p>Nice! This site uses Git for version control. You can set up your site to automatically update whenever you push to your GitHub repository.</p>
        <p>First, you'll have to add a deploy key to your repository. You can use the button below to generate a key.</p>
        {% if site.has_rsa_key %}
        <p><i class="fa fa-certificate"></i> This site has a RSA key-pair. The public key is shown below.</p>
        <pre id="public-key" ondblclick="select(this);">{{ site.public_key }}</pre>
        <p>After you've generated a key, follow the instructions <a href="https://developer.github.com/guides/managing-deploy-keys/">here</a> to learn how to set up deploy keys. Press the "Git Pull" button below after you've set up your key to make sure everything works.</p>
        <button id="git-pull" class="btn btn-ion"><i class="fa fa-github"></i> Git Pull</button>
        {% else %}
        <p><i class="fa fa-certificate"></i> This site does not have a RSA key-pair. Use the button below to generate one.</p>
        {% endif %}
        <a id="generate-key" href="{% url 'generate_rsa_key' site.id %}" class="btn btn-ion"><i class="fa fa-key"></i> {% if site.has_rsa_key %}Regenerate{% else %}Generate{% endif %} Keys</a>
        <pre id="git-output"></pre>
        {% if site.has_rsa_key %}
        <p>Once you have set up your deploy key, you will need to add a webhook so that Director knows when to pull your repository. You can use <a href="https://developer.github.com/webhooks/creating/">this guide</a> to learn how to set up a webhook.</p>
        <div class="form-group">
            <label for="webhook-url">Webhook URL</label>
            <input id="webhook-url" ondblclick="this.select();" type="text" class="form-control" readonly value="{{ webhook_url }}" />
            <span class="help-text"><small>Content Type - application/json, Just the push event</small></span>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
