{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
    .path {
        font-family: monospace;
    }
    </style>
{% endblock %}

{% block main %}
<h3>{{ site.name }}</h3>
<p>
    <b>Type:</b> {{ site.get_purpose_display }} - {{ site.get_category_display }}<br />
    <b>Description:</b> {{ site.description|default:"None" }}<br />
    <b>Site User:</b> {{ site.user.username }} ({{ site.user.id }})<br />
    <b>Site Group:</b> {{ site.group.name }} ({{ site.group.id }})<br />
    <b>Users:</b> {{ users|join:", "|default:"None" }}
    {% if site.category == "dynamic" %}<br />
    <b>Process:</b> {% if request.user.is_superuser %}<a href="{% url 'edit_process' site.id %}">{% endif %}{% if site.process %}<span class="path">{{ site.process.path }}</span>{% else %}None{% endif %}{% if request.user.is_superuser %}</a>{% endif %}<br />
    {% if site.process %}<b>Process Status</b>: <span class="path">{{ status }}</span>
    {% if request.user.is_superuser %}<br />
    <a href="{% url 'delete_process' site.id %}" class="btn btn-ion btn-danger"><i class="fa fa-trash-o"></i> Delete Process</a>
    {% endif %}
    {% endif %}
    {% endif %}
</p>

<p>You can edit this site by connecting to <span class="path">remote.tjhsst.edu</span> and changing directories to <span class="path">{{ site.path }}</span>.</p>

{% if site.custom_nginx %}
<p><i class="fa fa-exclamation-triangle"></i> This site has a custom nginx configuration.</p>
{% else %}
<a href="{% url 'config_site' site.id %}" class="btn btn-ion"><i class="fa fa-refresh"></i> Rewrite Configuration</a>
{% endif %}
<a href="{% url 'permission_site' site.id %}" class="btn btn-ion"><i class="fa fa-wrench"></i> Reset Permissions</a>
{% if site.process %}
<a href="{% url 'restart_process' site.id %}" class="btn btn-ion"><i class="fa fa-retweet"></i> Restart Process</a>
{% endif %}

<br /><br />

<a href="{% url 'index' %}" class="btn btn-ion"><i class="fa fa-undo"></i> Back</a>
{% if request.user.is_superuser %}
<a href="{% url 'edit_site' site.id %}" class="btn btn-ion"><i class="fa fa-pencil"></i> Edit Site</a> <a href="{% url 'delete_site' site.id %}" class="btn btn-ion btn-danger"><i class="fa fa-trash-o"></i> Delete Site</a>
{% endif %}
{% endblock %}
