{% extends "sites/base.html" %}

{% block mainclass %}narrow{% endblock %}

{% block main %}
<form method="POST">
    <h3><i class="fa fa-wordpress"></i> Install Wordpress</h3>
    <p>You can use this page to automatically install Wordpress for you. The script will perform the following actions:</p>
    <ul>
        <li>Switch site type to PHP</li>
        <li>Provision a MySQL database</li>
        <li>Install Wordpress in the <span class="path">public</span> folder</li>
    </ul>
    <p>Are you sure you want to continue?</p>

    <a href="{% url 'info_site' site.id %}" class="btn btn-ion"><i class="fa fa-undo"></i> Back</a>
    <button type="submit" class="btn btn-ion"><i class="fa fa-wordpress"></i> Install Wordpress</button>
</form>
{% endblock %}
