{% extends "sites/base.html" %}

{% block mainclass %}narrow{% endblock %}

{% block main %}
<h3><i class="fa fa-archive"></i> Quick Installation</h3>
<hr />
{% for key, package in packages.items %}
<div class="card">
    <div class="card-block">
        <h4><i class="fa fa-{{ package.icon }}"></i> {{ package.name }}</h4>
        {% if package.url %}
        <a href="{{ package.url }}">{{ package.url }}</a>
        {% endif %}
        <p>{{ package.description }}</p>
        {% if package.actions %}
        <a href="{% url 'info_site' site.id %}" class="btn btn-ion"><i class="fa fa-undo"></i> Back</a>
        <a href="{% url 'install_package' site.id key %}" class="btn btn-ion"><i class="fa fa-{{ package.icon }}"></i> Install {{ package.name }}</a>
        {% else %}
        <i>Coming Soon!</i>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}
