{% extends "sites/base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/terminal/xterm.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/terminal/terminal.css' %}" type="text/css" />
    <style>
    body {
        overflow-y: hidden;
    }
    .main {
        padding: 0;
        background-color: black;
        padding-right: 0;
    }
    .console-wrapper {
        width: 100%;
        height: 100%;
        height: calc(100vh - 40px);
        padding-left: 5px;
        padding-top: 5px;
        overflow-y: hidden;
    }
    #command-info {
        display: none;
        background-color: white;
        color: black;
        padding: 5px;
        text-align: center;
    }
    #command-info b {
        font-family: monospace;
    }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/terminal/xterm.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/terminal/fit.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/terminal/terminal.js' %}"></script>
    <script>
    var command = "{% if command %}{{ command|escapejs }}{% endif %}";
    var site_endpoint = "{% url 'info_site' site.id %}";

    $(document).ready(function() {
        if (command) {
            $("#command-info").show().find("b").text(command);
        }
        registerTerminal($(".console-wrapper"), { uid: "{{ request.user.id }}", token: "{{ request.user.access_token }}", site: "{{ site.id }}", type: "terminal" }, {
            onStart: function(term) {
                if (command) {
                    term.send(command + "\n");
                }
            },
            onClose: function() {
                if (command) {
                    $(".disconnect").html("<span style='color:green'><b>Command Finished</b>, press <kbd>ENTER</kbd> to go back</span>");
                }
            },
            onReconnect: (command ? function() {
                window.location.href = site_endpoint;
            } : false)
        });
    });
    </script>
{% endblock %}

{% block main %}
<div id="command-info">Running command <b></b>...</div>
<div class="console-wrapper" tabindex="0">
    <div class="console"></div>
    <div class="disconnect">
        <b>Connection Lost</b>, press <kbd>ENTER</kbd> to reconnect
    </div>
</div>
{% endblock %}
