{% extends "base.html" %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block main %}
<p>Director is a student-built and student-run project to provide a management interface for activity and student websites.</p>
<b>Director Founding Development Team</b>
<ul>
    <li><a href="mailto:2017ewang@tjhsst.edu">Eric Wang</a> (2017)</li>
    <li><a href="mailto:2019okulkarn@tjhsst.edu">Omkar Kulkarni</a> (2019)</li>
</ul>
<b>Director Development Team</b>
<ul>
    <li>Eric Wang (2017)</li>
    <li>Omkar Kulkarni (2019)</li>
    <li>James Houghton (2017)</li>
    <li>&hellip;more to come&hellip;</li>
</ul>
<b>Director Groundwork</b>
<ul>
    <li>Fox Wilson (2016)</li>
</ul>
{% endblock %}
