{% load staticfiles %}
<!doctype html>
<html lang='en'>
<head>
    <title>{% block title %}Director{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:100italic,400italic,700italic,100,400,700" />

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-ion.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'selectize/selectize.default.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/messenger.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/messenger-theme-future.css' %}" />
    {% endblock %}

    {% block js %}
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/messenger.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/messenger-theme-future.js' %}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.1.0/js/tether.min.js"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'selectize/selectize.js' %}"></script>

        {% if messages %}
        <script type="text/javascript">
        window.addEventListener("load", function() {
        {% for message in messages %}
            {% if message.level >= 30 %}
                Messenger().error("{{ message|escapejs }}");
            {% elif message.level == 25 %}
                Messenger().success("{{ message|escapejs }}");
            {% else %}
                Messenger().info("{{ message|escapejs }}");
            {% endif %}
        {% endfor %}
        });
        </script>
        {% endif %}
    {% endblock %}
</head>
<body{% block bodytag %}{% endblock %}>
    <div class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="/">
            <i class="fa fa-cloud"></i> Director
        </a>
        <ul class="nav navbar-nav">
        {% block navbar %}
        {% endblock %}
        {% if request.user.is_authenticated %}
        <div class="dropdown pull-right" id="user-dropdown">
            <button class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ request.user.username }}</button>
            <ul class="dropdown-menu">
                <div class="arrow"></div>
                    <li><a href="{% url 'user_settings' %}"><i class="fa fa-fw fa-cog"></i> Settings</a></li>
                {% if request.user.is_superuser %}
                    <li><a href="{% url 'user_management' %}"><i class="fa fa-fw fa-users"></i> User Admin</a></li>
                    <li><a href="{% url 'admin:index' %}"><i class="fa fa-fw fa-star"></i> Django Admin</li>
                {% endif %}
                <li><a href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out"></i> Logout</a></li>
            </ul>
        </div>
        {% endif %}
        </ul>
    </div>
    <div class="main">
    {% block main %}
    {% endblock %}
    </div>
    <div class="footer">
    {% block footer %}
        This application developed by <a href="mailto:2017ewang@tjhsst.edu">Eric Wang</a> and <a href="mailto:okulkarni@tjhsst.edu">Omkar Kulkarni</a>
    {% endblock %}
    </div>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
