{% load staticfiles %}
<!doctype html>
<html lang='en'>
<head>
    <title>{% block title %}Web3 Management System{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:100italic,400italic,700italic,100,400,700" />
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-ion.css' %}" />
    {% endblock %}

    {% block js %}
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endblock %}
</head>
<body{% block bodytag %}{% endblock %}>
    <div class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="#">
            <i class="fa fa-cloud"></i> Web3
        </a>
        {% if request.user.is_authenticated %}
        <div class="dropdown pull-right">
            <button class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ request.user.username }}</button>
            <ul class="dropdown-menu">
                <div class="arrow"></div>
                <li><a href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out"></i> Logout</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="main">
    {% block main %}
    {% endblock %}

    <br /><br /><br />
    </div>
    <div class="footer">
    {% block footer %}
        This application developed by <a href="mailto:2017ewang@tjhsst.edu">Eric Wang</a> and <a href="mailto:2019okulkarn@tjhsst.edu">Omkar Kulkarni</a>
    {% endblock %}
    </div>
</body>
</html>
