{% load staticfiles %}
<!doctype html>
<html lang='en'>
<head>
    <title>{% block title %}Director{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0048AB" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:100italic,400italic,700italic,100,400,700" />

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-ion.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'selectize/selectize.default.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/messenger.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/messenger-theme-future.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    {% endblock %}

    {% block js %}
        <script type="text/javascript" src="{% static 'js/vendor/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/messenger.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/messenger-theme-future.js' %}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.1.0/js/tether.min.js"></script>
        <script type="text/javascript" src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'selectize/selectize.js' %}"></script>

        {% if messages %}
        <script type="text/javascript">
        window.addEventListener("load", function() {
        {% for message in messages %}
            {% if message.level >= 30 %}
                Messenger().error("{{ message|escapejs }}");
            {% elif message.level == 25 %}
                Messenger().success("{{ message|escapejs }}");
            {% else %}
                Messenger().info("{{ message|escapejs }}");
            {% endif %}
        {% endfor %}
        });
        </script>
        {% endif %}
    {% endblock %}
</head>
<body{% block bodytag %}{% endblock %}>
    <div class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="/">
            <i class="fa fa-cloud"></i> Director
        </a>
        <ul class="nav navbar-nav">
        {% if request.user.is_authenticated %}
        {% if request.user.site_notifications %}
        <a class="nav-warn" href="{% if request.user.site_notifications.0.teacher_approval %}{% url 'admin_site' %}{% else %}{% url 'approve_site' %}{% endif %}"><b>{{ request.user.site_notifications.count }}</b> Request{{ request.user.site_notifications.count|pluralize }}</a>
        {% endif %}
        <div class="dropdown pull-right" id="user-dropdown">
            <button class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="hidden-xs-down">{{ request.user.full_name }}</span></button>
            <ul class="dropdown-menu">
                <div class="arrow"></div>
                <li><a href="{% url 'user_settings' %}"><i class="fa fa-fw fa-cog"></i> Settings</a></li>
                {% comment %}
                <li><a href="{% url 'vm_list' %}"><i class="fa fa-fw fa-server"></i> Virtual Machines</a></li>
                {% endcomment %}
                {% if request.user.is_superuser %}
                    <li><a href="{% url 'user_management' %}"><i class="fa fa-fw fa-users"></i> User Admin</a></li>
                    {% if request.user.is_staff %}
                        <li><a href="{% url 'admin:index' %}"><i class="fa fa-fw fa-star"></i> Django Admin</a></li>
                    {% endif %}
                {% endif %}
                <li class="feedback"><a href="{% url 'feedback' %}"><i class="fa fa-fw fa-smile-o"></i> Send Feedback</a></li>
                <li><a href="{% url 'docs_home' %}"><i class="fa fa-fw fa-question-circle"></i> Documentation</a></li>
                <li><a href="{% url 'about' %}"><i class="fa fa-fw fa-info-circle"></i> About/Credits</a></li>
                <li><a href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out"></i> Logout</a></li>
            </ul>
        </div>
        {% block navbar %}
        {% endblock %}
        {% if global_warning %}
        <span class="pull-right" style="color: yellow; margin-right: 10px"><i id="global-warning" class="fa fa-exclamation-triangle" data-placement="bottom" data-animation="false" title="{{ global_warning }}"></i></span>
        <script>$("#global-warning").tooltip("show");</script>
        {% endif %}
        {% endif %}
        </ul>
    </div>
    <div class="main {% block mainclass %}{% endblock %}">
    {% block main %}
    {% endblock %}
    </div>
</body>
</html>
