{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}" />
{% endblock %}

{% block main %}
<h3>Your Sites</h3>
<div id="sites">
{% for site in sites %}
    <a href="{% url 'info_site' site.id %}" class="site">
        <i class="pull-left fa fa-2x fa-fw {% if site.purpose == 'user' %}fa-user{% elif site.purpose == 'activity' %}fa-globe{% else %}fa-cube{% endif %}"></i>
        <b>{{ site.name }}</b><br />{{ site.get_category_display }} - {{ site.description|default:"No Description" }}
    </a>
{% endfor %}
{% if other_sites %}
    {% for site in other_sites %}
    <a href="{% url 'info_site' site.id %}" class="site">
        <span class="pull-right tag tag-warning">Superuser</span>
        <i class="pull-left fa fa-2x fa-fw {% if site.purpose == 'user' %}fa-user{% else %}fa-globe{% endif %}"></i>
        <b>{{ site.name }}</b><br />{{ site.get_category_display }} - {{ site.description|default:"No Description" }}
    </a>
    {% endfor %}
{% endif %}
</div>

{% if request.user.is_superuser %}
<a href="{% url 'create_site' %}" class="btn btn-ion"><i class="fa fa-plus"></i> Create Site</a>
{% else %}
If you want to create a new site, fill out a service request form and give it to a sysadmin in Room 200C.
{% endif %}
{% endblock %}
