{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sites/tooltip.js' %}"></script>
{% endblock %}

{% block navbar %}
<input class="form-control search-box" data-search="#sites .site" data-fields=".name,.desc,.type" type="text" placeholder="&#xf002; Search Sites" />
{% endblock %}

{% block main %}
<div class="subheading clearfix">
    <h3 class="pull-left hidden-xs-down">{% if other_sites %}All{% else %}Your{% endif %} Sites <span id="filtered"></span></h3>
    <a href="{% url 'create_site' %}" class="pull-right btn btn-ion"><i class="fa fa-plus"></i> Create Site</a>
    {% if request.user.is_staff or not request.user.has_webdocs %}
    <a href="{% url 'create_webdocs' %}" class="pull-right btn btn-ion" style="margin-right:5px"><i class="fa fa-user-plus"></i> Create Webdocs</a>
    {% endif %}
    {% if not other_sites and request.user.is_superuser %}
    <a href="{% url 'index' %}?all=1" class="pull-right btn btn-ion"><i class="fa fa-star"></i> Show All</a>
    {% endif %}
</div>
<div id="sites">
{% for site in sites %}
    <a href="{% url 'info_site' site.id %}" class="site" id="{{ site.id }}">
        {% if site.database %}<span data-toggle="tooltip" class="pull-right tag tag-primary tag-database">{{ site.database.get_category_display }}</span>{% endif %}
        {% if site.has_repo %}<span data-toggle="tooltip" class="pull-right tag tag-default tag-git"><i class="fa fa-github-alt"></i> Git</span>{% endif %}
        {% if site.has_vm %}<span data-toggle="tooltip" class="pull-right tag tag-info tag-vm"><i class="fa fa-server"></i> VM</span>{% endif %}
        {% if site.custom_nginx %}<span data-toggle="tooltip" class="pull-right tag tag-info tag-nginx">Nginx</span>{% endif %}
        <i class="pull-left fa fa-2x fa-fw {% if site.purpose == 'user' %}fa-user{% elif site.purpose == 'activity' %}fa-globe{% elif site.purpose == 'legacy' %}fa-snowflake-o{% else %}fa-cube{% endif %}"></i>
        <b class="name">{{ site.name }}</b><span class="sub"><span class="type">{{ site.get_category_display }}</span> - <span class="desc">{{ site.description|default:"No Description" }}</span> - <span class="users">{{ site.num_users|add:"-1" }} user{% if site.num_users != 2 %}s{% endif %}</span></span>
    </a>
{% endfor %}
{% if other_sites %}
    {% for site in other_sites %}
    <a href="{% url 'info_site' site.id %}" class="site" id="{{ site.id }}">
        <span data-toggle="tooltip" class="pull-right tag tag-warning tag-admin">Admin</span>
        {% if site.has_repo %}<span data-toggle="tooltip" class="pull-right tag tag-default tag-git"><i class="fa fa-github-alt"></i> Git</span>{% endif %}
        {% if site.custom_nginx %}<span data-toggle="tooltip" class="pull-right tag tag-info tag-nginx">Nginx</span>{% endif %}
        {% if site.num_users <= 1 %}<span data-toggle="tooltip" class="pull-right tag tag-danger tag-nousers">No Users</span>{% endif %}
        {% if site.database %}<span data-toggle="tooltip" class="pull-right tag tag-primary tag-database">{{ site.database.get_category_display }}</span>{% endif %}
        <i class="pull-left fa fa-2x fa-fw {% if site.purpose == 'user' %}fa-user{% elif site.purpose == 'activity' %}fa-globe{% elif site.purpose == 'legacy' %}fa-snowflake-o{% else %}fa-cube{% endif %}"></i>
        <b class="name">{{ site.name }}</b><span class="sub"><span class="type">{{ site.get_category_display }}</span> - <span class="desc">{{ site.description|default:"No Description" }}</span> - <span class="users">{{ site.num_users|add:"-1" }} user{% if site.num_users != 2 %}s{% endif %}</span></span>
    </a>
    {% endfor %}
{% endif %}
{% if sites.count == 0 and other_sites.count == 0 %}
<div id="empty">You don't have any sites! Click <a href="{% url 'create_site' %}">here</a> to create a new site.</div>
{% endif %}
</div>
{% endblock %}
