{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}" />
{% endblock %}

{% block navbar %}
<input class="form-control" id="select-site" type="text" placeholder="&#xf002; Search Sites" />
{% endblock %}
{% block main %}
<div class="subheading clearfix">
    <h3 class="pull-left">Your Sites</h3>
    <a href="{% url 'create_site' %}" class="pull-right btn btn-ion"><i class="fa fa-plus"></i> Create Site</a>
</div>
<div id="sites">
{% for site in sites %}
    <a href="{% url 'info_site' site.id %}" class="site" id="{{ site.name }}">
        <i class="pull-left fa fa-2x fa-fw {% if site.purpose == 'user' %}fa-user{% elif site.purpose == 'activity' %}fa-globe{% else %}fa-cube{% endif %}"></i>
        <b class="name">{{ site.name }}</b><br /><span class="type">{{ site.get_category_display }}</span> - <span class="desc">{{ site.description|default:"No Description" }}</span>
    </a>
{% endfor %}
{% if other_sites %}
    {% for site in other_sites %}
    <a href="{% url 'info_site' site.id %}" class="site" id="{{ site.name }}">
        <span data-toggle="tooltip"  data-placement="left" title="You can see this website because you are a superuser." class="pull-right tag tag-warning">Superuser</span>
        <i class="pull-left fa fa-2x fa-fw {% if site.purpose == 'user' %}fa-user{% else %}fa-globe{% endif %}"></i>
        <b class="name">{{ site.name }}</b><br /><span class="type">{{ site.get_category_display }}</span> - <span class="desc">{{ site.description|default:"No Description" }}</span>
    </a>
    {% endfor %}
{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/sites/search.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function() {
        function checkWidth() {
        var windowsize = $(window).width();
        if(windowsize > 576){
            $("#select-site").insertBefore("#user-dropdown");
        }
        else{
            $("#user-dropdown").insertBefore("#select-site");
        }
        
    }
    checkWidth();
    $(".main").css("padding-top", $(".navbar").height().toString() + "px");
    $(window).resize(function(){
        checkWidth();
        $(".main").css("padding-top", $(".navbar").height().toString() + "px");
    });
    });
</script>
{% endblock %}
