{% load formfilters %}
<fieldset>
    {% for field in form %}
        {% if field|field_type == "CheckboxInput" %}
            <label class="custom-control custom-checkbox">
                {{ field }}
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{ field.label }}</span>
            </label>
            {% if field.errors %}
                <span class="danger help-inline">
                    {% for error in  field.errors %}{{ error }}{% endfor %}
                </span>
            {% endif %}
        {% elif field|field_type == "RadioSelect" %}
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">
            {% for radio in field %}
            <label class="custom-control custom-radio">
                <input id="{{ radio.id_for_label }}" name="{{ radio.data.name }}" type="radio" value="{{ radio.data.value }}" class="custom-control-input" {% if radio.data.value == field.value %}checked{% endif %} required>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{ radio.data.label }}</span>
            </label>
            {% endfor %}
            </div>
            {% if field.errors %}
                <span class="danger help-inline">
                    {% for error in  field.errors %}{{ error }}{% endfor %}
                </span>
            {% endif %}
        {% else %}
            <div class="control-group">
                <label class="control-label">{{ field.label }}</label>
                <div class="controls">{{ field }}
                    {% if field.errors %}
                        <span class="danger help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    {% elif field.help_text %}
                        <p class="help-inline"><small>{{ field.help_text }}</small></p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</fieldset>
