<h3><i class="fa fa-cloud"></i> Director Help Guide</h3>
<hr />
<div class="alert alert-success"><i class="fa fa-lightbulb-o"></i> Have a suggestion? Found a bug? Give feedback <a target="_blank" href="{% url 'feedback' %}">here</a>!</div>
<h4 name="editor">Online Editor</h4>
<p>Double click files and folders to open them. You can right click files in folders in the Files tab, or right click the blank space in the Files tab for more options. Clicking a file will open up the file for editing. Drag files on to the Files tab in order to upload them. You can use <kbd>Ctrl</kbd> + Click or <kbd>Shift</kbd> + Click to select multiple files.</p>
<p>You can drag and drop files and folders to move them to different folders. You can drag around tabs to reorder them and create new panels. Your editor layout will automatically save if you make any changes.</p>
<p>If you open a preview panel, it will automatically refresh when you edit the associated file in the editor.</p>
<p>If you create a <span class="path">.secure</span> file in a folder, that folder will be only accessible to you after a login. If you add a <span class="path">.index</span> file to a folder, the folder will list all of its contents when you navigate to it.</p>
<p>The Nginx tab is not editable for security reasons. If you want to make a change, ask a sysadmin.</p>
<h4>Dynamic Sites</h4>
<p>To use a custom server, such as Django or Node.js, you will have to change your site type to Dynamic{% if site %} (it is currently <b>{{ site.get_category_display }}</b>){% endif %}. You will then need to create a script file in any directory and {% if site %}<a href="{% url 'edit_process' site.id %}">{% endif %}set the Director process to this script file{% if site %}</a>{% endif %}.</p>
<h5>Node.js Server</h5>
<div class="step">
    <p>Put the following file in the public folder and name it <span class="path">server.js</span>.</p>
    <b class="file"> public/server.js</b>
    <pre><code class="javascript">var http = require('http');

var server = http.createServer(function(req, res) {
    res.end("It works! Path: " + req.url);
});

server.listen(process.env.PORT, function() {
    console.log("Server listening on: " + process.env.PORT);
});</code></pre>
    <p>Put the <span class="path">run.sh</span> file in the root directory, use <span class="path">chmod +x run.sh</span> to mark it as executable, and set the Director process to this script file.</p>
    <b class="file"> run.sh</b>
    <pre><code class="bash">#!/bin/sh

node server.js</code></pre>
</div>
<h5>Django Server</h5>
<div class="step">
    <p>Run <span class="path">django-admin startproject server</span> in the <span class="path">public</span> folder.</p>
    <p>Put the <span class="path">run.sh</span> file in the root directory, use <span class="path">chmod +x run.sh</span> to mark it as executable, and set the Director process to this script file.</p>
    <b class="file"> run.sh</b>
    <pre><code class="bash">#!/bin/bash

cd server
gunicorn server.wsgi -b 127.0.0.1:$PORT -w=4</code></pre>
</div>
<h5>Flask Server</h5>
<div class="step">
    <p>Put the following file in the public folder and name it <span class="path">server.py</span>.</p>
    <b class="file"> public/server.py</b>
    <pre><code class="python">from flask import Flask
app = Flask(__name__)

@app.route("/")
def index():
    return "Hello World!"</code></pre>
    <p>Put the <span class="path">run.sh</span> file in the root directory, use <span class="path">chmod +x run.sh</span> to mark it as executable, and set the Director process to this script file.</p>
    <b class="file"> run.sh</b>
    <pre><code class="bash">#!/bin/bash

gunicorn server:app -b 127.0.0.1:$PORT -w=4</code></pre>
</div>
