{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/guide.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
    <script src="{% static 'js/guide.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="toc hidden-sm-down"><h5>Help Guide</h5><b>Table of Contents</b></div>
    <div class="guide">
<h3><i class="fa fa-cloud"></i> Director Help Guide</h3>
<hr />
<div class="alert alert-success"><i class="fa fa-lightbulb-o"></i> Have a suggestion? Found a bug? Give feedback <a target="_blank" href="{% url 'feedback' %}">here</a>!</div>
<h4>Getting Started</h4>
<p>You will need to login using <a target="_blank" href="https://ion.tjhsst.edu/">Ion</a> in order to use Director.</p>
<p>If you are a student, you have the opportunity to create a personal website in the format <span class="path">https://user.tjhsst.edu/&lt;username&gt;</span>. Students can do this by pressing the <span class="click"><i class="fa fa-user-plus"></i> Create Webdocs</span> button located to the upper right of the page.</p>
<p>If you would like to create or gain access to a website for a club or school activity, click on the <span class="click"><i class="fa fa-plus"></i> Create Site</span> button in the upper right corner.</p>
<p>If you would like to create a website for another purpose, contact <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.</p>
<p>The dashboard contains a list of sites that you have access to. You can click a particular site to see more details about it. You can use the search bar on the top of the page to filter the list of sites. Below are a few examples of search queries:</p>
<ul>
    <li>To find sites with the word "testing" in their name or description:<br /><span class="search-example">testing</span></li>
    <li>To find sites with a PostgreSQL database:<br /><span class="search-example">tag:postgresql</span></li>
    <li>To find sites without a Git repository:<br /><span class="search-example">notag:git</span></li>
    <li>To find PHP sites with a SQL database:<br /><span class="search-example">PHP tag:sql</span></li>
    <li>To find activity sites with "tech" in their name or description:<br /><span class="search-example">type:activity tech</span></li>
</ul>
<h5>Site Editing</h5>
<p>After you have clicked a site, you will see information about the site and options to modify it.</p>
<p>To upload files to your website, you can use a tool like <a target="_blank" href="https://winscp.net/">WinSCP</a> or <a target="_blank" href="https://filezilla-project.org/download.php">FileZilla</a> to connect to <span class="path">remote.tjhsst.edu</span>. You will then need to change directories to the location specified on the left side of the page.</p>
<ul>
    <li>For user sites, the site is located at <span class="path">/web/user/&lt;name&gt;</span>.</li>
    <li>For project sites, the site is located at <span class="path">/web/projects/&lt;name&gt;</span>.</li>
    <li>For activity sites, the site is located at <span class="path">/web/activities/&lt;name&gt;</span>.</li>
    <li>For legacy sites, the site is located at <span class="path">/web/legacy/&lt;name&gt;</span>.</li>
    <li>For other sites, the site is located at <span class="path">/web/&lt;name&gt;</span>.</li>
</ul>
<p>You can also use the online editor or web terminal to edit your site. You can access these features through the <span class="click"><i class="fa fa-folder-open"></i> Online Editor</span> and <span class="click"><i class="fa fa-terminal"></i> Web Terminal</span> buttons on the left side of the page.</p>
<p>You can install <a target="_blank" href="https://wordpress.org/">Wordpress</a>, a website creation tool, by clicking the <span class="click"><i class="fa fa-wordpress"></i> Install Wordpress</span> button.</p>
<h6>Special Locations</h6>
<p>The <span class="path">public</span> folder is where the server will serve files from (in static and PHP sites). As a good first step, you will probably want to make a <span class="path">public/index.html</span> file.</p>
<p>The <span class="path">private</span> folder is where logs are generated (ex: the PHP and supervisor error logs).</p>
<p>If you create a <span class="path">.secure</span> file in a folder, that folder will be only accessible to you after a login. If you add a <span class="path">.index</span> file to a folder, the folder will list all of its contents when you navigate to it.</p>
<h6>Custom Domains</h6>
<p>You can use a custom domain for your site by clicking on <span class="click"><i class="fa fa-pencil"></i> Edit Site</span> and adding your domain to the domain field. You will then need to set up a CNAME record to point your domain to <span class="path">sites.tjhsst.edu</span>.</p>
<h6>GitHub Integration</h6>
<p>You can set up a webhook that automatically deploys code to your website after you push a commit. In order to do so, clone your repository into the <span class="path">public</span> folder and follow the instructions to the right of the site page.</p>
<h5>PHP</h5>
<p>You can use PHP by changing your site type to PHP. To change the site type, go to the site page of the site you want to edit and click <span class="click"><i class="fa fa-pencil"></i> Edit Site</span>.</p>
<h6>Databases</h6>
<div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> The <i>mysql_connect()</i> functions were depreciated in PHP 5.5 and is no longer available in PHP 7. Instead, you want to use either <i>mysqli_connect()</i> or PDO_MySQL. The example below demonstrates how to use PDO to connect to the database.</div>
<p>You can create a PostgreSQL or MySQL database for a site by going to the site page and clicking the <span class="click"><i class="fa fa-plus"></i> Create Database</span> button on the right of the page. Below is some example code on how to connect to the database with PHP:</p>
<pre><code class="php">&lt;?php
$db_opts = parse_url(getenv("DATABASE_URL"));
$dsn = ($db_opts["scheme"] == "postgres" ? "pgsql" : "mysql");
$dsn .= ":host=" . $db_opts["host"] . ";dbname=" . ltrim($db_opts["path"], "/");
$db = new PDO($dsn, $db_opts["user"], $db_opts["pass"]);

$db-&gt;exec("CREATE TABLE IF NOT EXISTS test (info TEXT)");
$db-&gt;exec("INSERT INTO test (info) VALUES ('testing')");

$stmt = $db-&gt;query("SELECT info FROM test");
while ($row = $stmt-&gt;fetch()) {
    echo $row["info"] . "&lt;br /&gt;";
}</code></pre>
<h6>Errors</h6>
<p>For security reasons, PHP error messages are not shown directly on the page, but instead logged to <span class="path">private/php.error.log</span>. If you would like to display PHP errors on a page for debugging reasons, you can add the following code to the beginning of your PHP code:</p>
<pre><code class="php">error_reporting(E_ALL);
ini_set('display_errors', 1);</code></pre>
<h5>Dynamic Sites</h5>
<p>To use a custom server, such as Django or Node.js, you will have to change your site type to Dynamic. You will then need to create a script file in any directory and set the Director process to this script file (click on the process on the site page to change the process). The following environment variables are available for your use:</p>
<ul>
    <li><span class="path">PORT</span> - The port your server should be running on.</li>
    <li><span class="path">DATABASE_URL</span> - Database credentials if you have a database associated with your site.</li>
</ul>
<h6>Node.js Server</h6>
<div class="step">
    <p>Put the following file in the <span class="path">public</span> folder and name it <span class="path">server.js</span>.</p>
    <b class="file"> public/server.js</b>
    <pre><code class="javascript">var http = require('http');

var server = http.createServer(function(req, res) {
    res.end("It works! Path: " + req.url);
});

server.listen(process.env.PORT, function() {
    console.log("Server listening on: " + process.env.PORT);
});</code></pre>
    <p>Put the <span class="path">run.sh</span> file in the root directory, use <span class="path">chmod +x run.sh</span> to mark it as executable, and set the Director process to this script file.</p>
    <b class="file"> run.sh</b>
    <pre><code class="bash">#!/bin/sh

node server.js</code></pre>
<b>Installing Packages</b>
<p>You can use the <span class="path">npm install &lt;package&gt;</span> command to install Node.js packages. You should execute this command in the same folder as your server. A <span class="path">node_modules</span> folder will be created to store these libraries.</p>
</div>
<h6>Django Server</h6>
<div class="step">
    <p>Run <span class="path">django-admin startproject server</span> in the <span class="path">public</span> folder.</p>
    <p>Put the <span class="path">run.sh</span> file in the root directory, use <span class="path">chmod +x run.sh</span> to mark it as executable, and set the Director process to this script file.</p>
    <b class="file"> run.sh</b>
    <pre><code class="bash">#!/bin/bash

cd server
gunicorn server.wsgi -b 127.0.0.1:$PORT -w=4</code></pre>
<b>Installing Packages</b>
<p>To install additional python packages, you will want to create a virtual environment. The terminal commands necessary to do this are listed below:<p>
<pre><code class="bash">virtualenv --python python3 venv
source venv/bin/activate</code></pre>
<p>You will then be able to install packages using <span class="path">pip install &lt;package&gt;</span>. An example is shown below:</p>
<pre><code class="bash">pip install requests</code></pre>
<p><b>Note:</b> In order for the server to load these packages, you will need to add the line <span class="path">source venv/bin/activate</span> to the <span class="path">run.sh</span> file before the line where the server is started.</p>
</div>
<h6>Flask Server</h6>
<div class="step">
    <p>Put the following file in the <span class="public">public</span> folder and name it <span class="path">server.py</span>.</p>
    <b class="file"> public/server.py</b>
    <pre><code class="python">from flask import Flask
app = Flask(__name__)

@app.route("/")
def index():
    return "Hello World!"</code></pre>
    <p>Put the <span class="path">run.sh</span> file in the root directory, use <span class="path">chmod +x run.sh</span> to mark it as executable, and set the Director process to this script file.</p>
    <b class="file"> run.sh</b>
    <pre><code class="bash">#!/bin/bash

gunicorn server:app -b 127.0.0.1:$PORT -w=4</code></pre>
</div>
<h6>Resource Limits</h6>
<p>Server processes will run under the following limitations:</p>
<ul>
    <li>Maximum 100 processes per user</li>
    <li>Maximum 2G memory per process</li>
</ul>
<p>If you need more resources, contact a sysadmin.</p>
<h5>Virtual Machines</h5>
<div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> Virtual machines currently only support IPv6. You may not be able to access sites that exclusively support IPv4 inside the virtual machine.</div>
<p>In some cases, your web application may use software or features that require administrative access. In these cases, you might want to create a virtual machine, which will give you an environment where you have complete control. You can view and create virtual machines by clicking on your name in the top right corner and selecting <span class="click"><i class="fa fa-server"></i> Virtual Machines</span>. You can create a new virtual machine by clicking on <span class="click"><i class="fa fa-plus"></i> Create VM</span>.</p>
<p>You can also request software to be installed on the web server by using the <a href="{% url 'feedback' %}">feedback</a> form.</p>
<h4>Online Editor</h4>
<p>You can use the online editor by clicking on the <span class="click"><i class="fa fa-folder-open"></i> Online Editor</span> button on the site page of the site you want to edit.</p>
<b>General</b>
<ul>
    <li>Double click files and folders to open them.</li>
    <li>Double clicking a file will open up the file for editing.</li>
    <li>Right click files in folders in the Files tab to view more options.</li>
    <li>Right click the blank space in the Files tab for more options.</li>
    <li>Right click tabs for options to create and delete tabs.</li>
</ul>
<b>Drag and Drop</b>
<ul>
    <li>Drag and drop files and folders to move them to different folders.</li>
    <li>Drag files on to the Files tab in order to upload them.</li>
    <li>Drag around tabs to reorder them and create new panels.</li>
    <li>Drag between different panels to resize them.</li>
</ul>
<b>Utilities</b>
<p>The online editor has several built-in utilities for your convenience. These are generally accessible through the context menu by right clicking the blank space in the Files tab.</p>
<ul>
    <li>Clicking on <span class="click"><i class="fa fa-globe"></i> Open Website</span> allows you to preview your currently running site.</li>
    <li>Clicking on <span class="click"><i class="fa fa-line-chart"></i> Show Log</span> shows a real time log of your process.</li>
    <li>Right clicking a file and clicking on <span class="click"><i class="fa fa-line-chart"></i> Show as Log</span> shows a real time log of the selected file.</li>
</ul>

<b>Keyboard Shortcuts</b>
<ul>
    <li>Use <kbd>Ctrl + S</kbd> (Windows/Linux) or <kbd>&#8984; + S</kbd> (Mac) to save the file you are currently editing.</li>
    <li>Use <kbd>Ctrl + Click</kbd> to select multiple files.</li>
    <li>Use <kbd>Shift + Click</kbd> to select all files between the selected files and the file you clicked.</li>
    <li>Use <kbd>Alt + N</kbd> to create a new file in the selected location.</li>
    <li>Use <kbd>Alt + O</kbd> to open the website in a new browser tab.</li>
    <li>Use <kbd>Alt + P</kbd> to open a preview tab for selected files.</li>
    <li>Use <kbd>Alt + R</kbd> to quickly rename selected files.</li>
    <li>Use <kbd>Alt + S</kbd> to open a new settings panel.</li>
    <li>Use <kbd>Alt + T</kbd> to open a new terminal panel.</li>
    <li>Use <kbd>Alt + C</kbd> to open a new SQL console panel.</li>
    <li>Use <kbd>Alt + Enter</kbd> to restart the server for dynamic sites.</li>
    <li>Use <kbd>Ctrl + Plus</kbd> and <kbd>Ctrl + Minus</kbd> to change the editor font size.</li>
    <li>Use the <kbd>Delete</kbd> key to delete selected files and folders.</li>
    <li>Use the <kbd>Enter</kbd> key to open currently selected files and folders.</li>
    <li>Use the <kbd>Up</kbd> and <kbd>Down</kbd> arrow keys to navigate the filesystem.</li>
</ul>
<p>Your editor layout will automatically save if you make any changes. Any settings that are changed will be automatically applied and changed. Layout and settings information is saved locally on a per site basis.</p>
<p>If you open a preview panel, it will automatically refresh when you edit the associated file in the editor.</p>
<p>The Nginx tab is not editable for security reasons. If you want to make a change, ask a sysadmin.</p>
</div>
{% endblock %}
