{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/guide.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
        $(document).ready(function() {
            $(".guide h4, .guide h5, .guide h6").each(function() {
                var title = $(this).text();
                var link = title.toLowerCase().replace(/ /g, "-");
                $(this).attr("name", link);
                var item = $("<a />").text(title);
                item.attr("href", "#" + link);
                item.addClass("level");
                item.addClass("level-" + $(this).prop("tagName").toLowerCase());
                $(".toc").append(item);
            });
            $(".toc .level").click(function(e) {
                var loc = $(".guide [name='" + $(this).attr("href").substring(1) + "']");
                $("html, body").animate({
                    scrollTop: loc.offset().top
                }, 400);
            });
            if (window.location.hash) {
                $("html, body").scrollTop($(".guide [name='" + window.location.hash.substring(1) + "']").offset.top);
            }
        });
    </script>
{% endblock %}

{% block main %}
    <div class="toc hidden-sm-down"><h5>Help Guide</h5><b>Table of Contents</b></div>
    <div class="guide">
<h3><i class="fa fa-cloud"></i> Director Help Guide</h3>
<hr />
<div class="alert alert-success"><i class="fa fa-lightbulb-o"></i> Have a suggestion? Found a bug? Give feedback <a target="_blank" href="{% url 'feedback' %}">here</a>!</div>
<h4>Getting Started</h4>
<p>You will need to login using <a target="_blank" href="https://ion.tjhsst.edu/">Ion</a> in order to use Director.</p>
<p>If you are a student, you have the opportunity to create a personal website in the format <span class="path">https://user.tjhsst.edu/&lt;username&gt;</span>. Students can do this by pressing the "<i class="fa fa-user-plus"></i> Create Webdocs" button located to the upper right of the page.</p>
<p>If you would like to create or gain access to a website for a club or school activity, click on the "<i class="fa fa-plus"></i> Create Site" button in the upper right corner.</p>
<p>If you would like to create a website for another purpose, contact <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.</p>
<p>The dashboard contains a list of sites that you have access to. You can click a particular site to see more details about it. You can use the search bar on the top of the page to filter the list of sites. Below are a few examples of search queries:</p>
<ul>
    <li>To find sites with the word "testing" in their name or description:<br /><span class="search-example">testing</span></li>
    <li>To find sites with a PostgreSQL database:<br /><span class="search-example">tag:postgresql</span></li>
    <li>To find sites without a Git repository:<br /><span class="search-example">notag:git</span></li>
    <li>To find PHP sites with a SQL database:<br /><span class="search-example">PHP tag:sql</span></li>
    <li>To find activity sites with "tech" in their name or description:<br /><span class="search-example">type:activity tech</span></li>
</ul>
<h5>Site Editing</h5>
<p>After you have clicked a site, you will see information about the site and options to modify it.</p>
<p>To upload files to your website, you can use a tool like <a href="https://winscp.net/">WinSCP</a> to connect to <span class="path">remote.tjhsst.edu</span>. You will then need to change directories to the location specified on the left side of the page.</p>
<p>You can also use the online editor or web terminal to edit your site. You can access these features through the "File Explorer" and "Web Terminal" buttons on the left side of the page.</p>
<h6>Special Locations</h6>
<p>The <span class="path">public</span> folder is where the server will serve files from (in static and PHP sites). As a good first step, you will probably want to make a <span class="path">public/index.html</span> file.</p>
<p>The <span class="path">private</span> folder is where logs are generated (ex: the PHP error log). This folder is not accessible to the public.</p>
<p>If you create a <span class="path">.secure</span> file in a folder, that folder will be only accessible to you after a login. If you add a <span class="path">.index</span> file to a folder, the folder will list all of its contents when you navigate to it.</p>
<h6>Custom Domains</h6>
<p>You can use a custom domain for your site by clicking on "<i class="fa fa-pencil"></i> Edit Site" and adding your domain to the domain field. You will then need to set up a CNAME record to point your domain to <span class="path">sites.tjhsst.edu</span>.</p>
<h5>PHP</h5>
<h6>Databases</h6>
<p>You can create a PostgreSQL or MySQL database for a site by going to the site page and clicking the "<i class="fa fa-plus"></i> Create Database" button on the right of the page. Below is some example code on how to connect to the database with PHP:</p>
<pre><code class="php">&lt;?php
$db_opts = parse_url(getenv("DATABASE_URL"));
$dsn = ($db_opts["scheme"] == "postgres" ? "pgsql" : "mysql");
$dsn .= ":host=" . $db_opts["host"] . ";dbname=" . ltrim($db_opts["path"], "/");
$db = new PDO($dsn, $db_opts["user"], $db_opts["pass"]);

$db-&gt;exec("CREATE TABLE IF NOT EXISTS test (info TEXT)");
$db-&gt;exec("INSERT INTO test (info) VALUES ('testing')");

$stmt = $db-&gt;query("SELECT info FROM test");
while ($row = $stmt-&gt;fetch()) {
    echo $row["info"] . "&lt;br /&gt;";
}</code></pre>
<h6>Errors</h6>
<p>For security reasons, PHP error messages are not shown directly on the page, but instead logged to <span class="path">private/php.error.log</span>. If you would like to display PHP errors on a page for debugging reasons, you can add the following code to the beginning of your PHP code:</p>
<pre><code class="php">error_reporting(E_ALL);
ini_set('display_errors', 1);</code></pre>
<h5>Virtual Machines</h5>
<div class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> Virtual machines currently only support IPv6. You may not be able to access sites that exclusively support IPv4 inside the virtual machine.</div>
<p>In some cases, your web application may use software or features that require administrative access. In these cases, you might want to create a virtual machine, which will give you an environment where you have complete control. You can view and create virtual machines by clicking on your name in the top right corner and selecting "<i class="fa fa-server"></i> Virtual Machines". You can create a new virtual machine by clicking on "<i class="fa fa-plus"></i> Create VM".</p>
<p>You can also request software to be installed on the web server by using the <a href="{% url 'feedback' %}">feedback</a> form.</p>
<h4>Online Editor</h4>
<b>General</b>
<ul>
    <li>Double click files and folders to open them.</li>
    <li>Double clicking a file will open up the file for editing.</li>
    <li>Right click files in folders in the Files tab to view more options.</li>
    <li>Right click the blank space in the Files tab for more options.</li>
    <li>Right click tabs for options to create and delete tabs.</li>
</ul>
<b>Drag and Drop</b>
<ul>
    <li>Drag and drop files and folders to move them to different folders.</li>
    <li>Drag files on to the Files tab in order to upload them.</li>
    <li>Drag around tabs to reorder them and create new panels.</li>
</ul>
<b>Keyboard Shortcuts</b>
<ul>
    <li>Use <kbd>Ctrl + S</kbd> (Windows/Linux) or <kbd>&#8984; + S</kbd> (Mac) to save the file you are currently editing.</li>
    <li>Use <kbd>Ctrl + Click</kbd> or <kbd>Shift + Click</kbd> to select multiple files.</li>
    <li>Use <kbd>Alt + R</kbd> to quickly rename selected files.</li>
    <li>Use the <kbd>Delete</kbd> key to delete selected files and folders.</li>
    <li>Use the <kbd>Enter</kbd> key to open currently selected files and folders.</li>
    <li>Use the arrow keys to navigate the filesystem.</li>
</ul>
<p>Your editor layout will automatically save if you make any changes. Any settings that are changed will be automatically applied and changed. Layout and settings information is saved locally on a per site basis.</p>
<p>If you open a preview panel, it will automatically refresh when you edit the associated file in the editor.</p>
<p>The Nginx tab is not editable for security reasons. If you want to make a change, ask a sysadmin.</p>
<h4>Dynamic Sites</h4>
<p>To use a custom server, such as Django or Node.js, you will have to change your site type to Dynamic. You will then need to create a script file in any directory and set the Director process to this script file (click on the process on the site page to change the process).</p>
<h5>Node.js Server</h5>
<div class="step">
    <p>Put the following file in the <span class="path">public</span> folder and name it <span class="path">server.js</span>.</p>
    <b class="file"> public/server.js</b>
    <pre><code class="javascript">var http = require('http');

var server = http.createServer(function(req, res) {
    res.end("It works! Path: " + req.url);
});

server.listen(process.env.PORT, function() {
    console.log("Server listening on: " + process.env.PORT);
});</code></pre>
    <p>Put the <span class="path">run.sh</span> file in the root directory, use <span class="path">chmod +x run.sh</span> to mark it as executable, and set the Director process to this script file.</p>
    <b class="file"> run.sh</b>
    <pre><code class="bash">#!/bin/sh

node server.js</code></pre>
</div>
<h5>Django Server</h5>
<div class="step">
    <p>Run <span class="path">django-admin startproject server</span> in the <span class="path">public</span> folder.</p>
    <p>Put the <span class="path">run.sh</span> file in the root directory, use <span class="path">chmod +x run.sh</span> to mark it as executable, and set the Director process to this script file.</p>
    <b class="file"> run.sh</b>
    <pre><code class="bash">#!/bin/bash

cd server
gunicorn server.wsgi -b 127.0.0.1:$PORT -w=4</code></pre>
</div>
<h5>Flask Server</h5>
<div class="step">
    <p>Put the following file in the <span class="public">public</span> folder and name it <span class="path">server.py</span>.</p>
    <b class="file"> public/server.py</b>
    <pre><code class="python">from flask import Flask
app = Flask(__name__)

@app.route("/")
def index():
    return "Hello World!"</code></pre>
    <p>Put the <span class="path">run.sh</span> file in the root directory, use <span class="path">chmod +x run.sh</span> to mark it as executable, and set the Director process to this script file.</p>
    <b class="file"> run.sh</b>
    <pre><code class="bash">#!/bin/bash

gunicorn server:app -b 127.0.0.1:$PORT -w=4</code></pre>
</div>
{% endblock %}
