{% extends "base.html" %}
{% load staticfiles %}

{% block mainclass %}narrow{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/guide.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block main %}
    <div class="guide">
        {% include "guide.html" %}
    </div>
{% endblock %}
