{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block main %}
    {% if needs_superuser %}
    <div class="alert alert-danger" style="max-width: 438px;margin: 0 auto;margin-bottom: 15px;">
        <i class="fa fa-exclamation-triangle"></i> You do not have permission to access this page.
    </div>
    {% endif %}
    <div class="login-box">
        <p><b>Log in with your Intranet account</b> to access the Director management interface.</p>
        <center>
            <a href="{% url 'social:begin' 'ion' %}{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}" class="btn btn-ion">
                Log In with Ion
            </a>
        </center>
    </div>
    <div class="footer">
        <a href="{% url 'about' %}">About/Credits</a> - <a href="https://www.tjhsst.edu/">TJHSST</a>
    </div>
{% endblock %}
