{% extends "base.html" %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
    h1 {
        margin: 6px 0;
    }

    .main {
        width: 100%;
        max-width: none;
        position: initial;
    }

    .login-box {
        background: white;
        padding: 15px;
        border: 1px solid #0048ab;
        margin: 0 auto;
        width: 438px;
    }

    .login-box p {
        text-align: center;
    }

    .footer {
        position: fixed;
        font-size: 13px;
        bottom: 5px;
        left: 5px;
    }

    @media (max-width:576px) {
        .login-box {
            width: 100%;
        }
    }
    </style>
{% endblock %}

{% block main %}
    <div class="login-box">
        <p><b>Log in with your Intranet account</b> to access the Director management interface.</p>
        <center>
            <a href="{% url 'social:begin' 'ion' %}{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}" class="btn btn-ion">
                Log In with Ion
            </a>
        </center>
    </div>
    <div class="footer">
        <a href="{% url 'about' %}">About/Credits</a> - <a href="https://www.tjhsst.edu/">TJHSST</a>
    </div>
{% endblock %}
