{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block main %}
    {% if request.user.is_authenticated and request.GET.next %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> You are already logged in as <b>{{ request.user.username }}</b>, but you are not authorized to access this page. Would you like to login to a different account?</div>
    {% endif %}
    <div class="login-box">
        <p><b>Log in with your Intranet account</b> to access the Director management interface.</p>
        <center>
            <a href="{% url 'social:begin' 'ion' %}{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}" class="btn btn-ion">
                Log In with Ion
            </a>
        </center>
    </div>
    <div class="footer">
        <a href="{% url 'about' %}">About/Credits</a> - <a href="https://www.tjhsst.edu/">TJHSST</a>
        <div class="oss"><a href="https://github.com/tjcsl/director"><i class="fa fa-flask"></i> Open Source Software</a></div>
    </div>
{% endblock %}
