DB_PASSWORD = ""
SOCIAL_AUTH_ION_KEY = ""
SOCIAL_AUTH_ION_SECRET = ""

POSTGRES_DB_HOST = ""
POSTGRES_DB_PORT = 5432
POSTGRES_DB_USER = ""
POSTGRES_DB_PASS = ""

MYSQL_DB_HOST = ""
MYSQL_DB_PORT = 3306
MYSQL_DB_USER = ""
MYSQL_DB_PASS = ""

GITHUB_CLIENT_ID = ""
GITHUB_CLIENT_SECRET = ""

DEBUG = True
WEB_ROOT = "/web"

RAVEN_CONFIG = {
    'dsn': 'https://<key>:<secret>@sentry.tjhsst.edu/<project>',
}
