DB_PASSWORD = ""

SOCIAL_AUTH_ION_KEY = ""
SOCIAL_AUTH_ION_SECRET = ""

# Used to create and manage PostgreSQL databases
POSTGRES_DB_HOST = ""
POSTGRES_DB_PORT = 5432
POSTGRES_DB_USER = ""
POSTGRES_DB_PASS = ""

# Used to create and manage MySQL databases
MYSQL_DB_HOST = ""
MYSQL_DB_PORT = 3306
MYSQL_DB_USER = ""
MYSQL_DB_PASS = ""

# GitHub API Keys used for GitHub webhook integration
GITHUB_CLIENT_ID = ""
GITHUB_CLIENT_SECRET = ""

# Used to manage virtual machines
CONDUCTOR_AGENT_PATH = "https://deneb.agent.lxc.deneb.csl.tjhsst.edu/"
CONDUCTOR_CERT_PATH = None

# Used to lookup user IDs
LDAP_SERVER = "ldap://openldap1.csl.tjhsst.edu"

DEBUG = True
WEB_ROOT = "/web"

RAVEN_CONFIG = {
    'dsn': 'https://<key>:<secret>@sentry.tjhsst.edu/<project>',
}
