.article-list .info {
    font-color: #888;
    font-size: .8em;
    font-style: italic;
}

.preview-template {
    display: none;
}

.public-tag-template {
    display: none;
}

.preview-title {
    font-size: 2.25em;
}

.preview-output img {
    width: 100%;
}

.row {
    margin-left: 10px;
    margin-right: 10px;
}
