.subheading {
    padding-top: 30px;
    padding: 10px 20px;
    background-color: #fafafa;
    border-bottom:1px solid #ccc;
}
.subheading h3 {
    font-size: 1.5rem;
    line-height: 34px;
    margin-bottom: 0px;
}
.search-box {
    display: inline-block;
    font-family: "FontAwesome", "Open Sans", sans-serif;
    margin-top: -3px;
    padding: 0.25rem 0.50rem;
    width: 300px;
}
@media (max-width:576px) {
    .search-box {
        width: 100%;
        margin:0;
        border-radius:0px;
        border-left:none;
        border-right:none;
    }
}
#empty {
    text-align: center;
    padding: 15px;
}
.nav-warn {
    background-color: #E65100;
    padding: 3px 5px;
    padding-right: 7px;
    border-radius: 3px;
    font-size: 14px;
}
a.nav-warn:hover {
    color: white;
}
