.header h1 {
    font-size: 20px;
    float: none;
    text-align: center;
}

ul.right {
    position: absolute;
    right: 5px;
    top: 0;
    margin-top: -2px;
}

.footer {
    position: fixed;
    bottom: 5px;
    right: 5px;
    font-size: 10px;
}

.user-info {
    float: right;
    text-align: right;
    padding: 0 0 20px 20px;
}

.main {
    max-width: 800px;
}

.main h1 {
    color: black;
    float: none;
}

@media (max-width: 600px) {
    .user-info {
        float: none;
        padding: 0;
        margin-bottom: 20px;
    }
}

@media print {
    body {
        background: none;
        color: black !important;
    }

    .main, .main * {
        position: static;
        margin: 0;
        visibility: visible;
    }

    .print-hide {
        visibility: none;
    }
}