.main {
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
}
@media (max-width:576px) {
    .main {
        padding-top: 80px;
    }
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
#sites .site {
    color: #484848;
    display: block;
    text-decoration: none;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #ccc;
}
#sites .site .tag {
    margin-left: 5px;
}
#sites .site:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
#sites .site .fa.pull-left {
    padding: 8px;
    margin-right: 5px;
    vertical-align: middle;
}
.sub {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
#sites .site .pull-left.fa {
    position: relative;
}
#sites .site .pull-left.fa span {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    position: absolute;
    bottom: 6px;
    right: 2px;
    background-color: #FFEB3B;
}
#sites .site .pull-left.fa span.red {
    background-color: #F44336;
}
#sites .site .pull-left.fa span.green {
    background-color: #4CAF50;
}
#filtered {
    font-size: 12px;
}
