.guide {
    margin-left: 200px;
    width: calc(100% - 200px);
}
.guide .step {
    border-left: 5px solid #aaa;
    padding-left: 10px;
}
.guide .path {
    color: #880000;
}
.guide pre code.hljs {
    background-color: #E0E0E0;
}
.guide .file {
    padding: 3px 10px;
    background-color: #E0E0E0;
    border-radius: 5px 5px 0 0;
    font-family: monospace;
}
.guide .search-example {
    margin-left: 20px;
    font-style: italic;
}
.guide h6 {
    font-size: 1.1rem;
}
.guide .click {
    background: #f7f7f4;
    background: -moz-linear-gradient(top,#f7f7f4 0%,#eaeaea 100%);
    background: -webkit-linear-gradient(top,#f7f7f4 0%,#eaeaea 100%);
    background: linear-gradient(to bottom,#f7f7f4 0%,#eaeaea 100%);
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #484848;
    white-space: nowrap;
}
@media (max-width: 767px) {
    .guide {
        margin-left: 0px;
        width: 100%;
    }
}
.navbar {
    z-index: 1;
}
.toc {
    position: fixed;
    top: 15px;
    left: 15px;
}
.toc h5 {
    cursor: pointer;
}
.toc .level {
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    display: block;
    color: #484848;
}
.toc .level:hover {
    background-color: #eee;
}
.toc .level.active {
    color: #00008b;
}
.toc .level-h5 {
    padding-left: 15px;
    font-size: 15px;
}
.toc .level-h6 {
    padding-left: 30px;
    font-size: 14px;
}
.search-box {
    display: inline-block;
    font-family: "FontAwesome", "Open Sans", sans-serif;
    padding: 0.25rem 0.50rem;
    width: 300px;
}

pre {
    padding: 10px;
    border-radius: 5px;
}

.tag {
    text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3);
    background-color: #1b9dec;
    background-image: linear-gradient(to bottom, #1da7ee, #178ee9);
    background-repeat: repeat-x;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03);
    padding: 2px 6px;
    font-size: 13px;
    color: white;
    font-weight: 400;
}
