body {
    overflow: hidden;
}
.main {
    padding: 0;
}
#editor-container {
    width: 100%;
    height: calc(100vh - 40px);
}
iframe.terminal {
    border: none;
    background-color: black;
    padding: 5px;
    padding-right: 0px;
    width: 100%;
    height: 100%;
}
embed.embedded, iframe.embedded {
    width: 100%;
    height: 100%;
    background-color: black;
    border: none;
}
iframe.preview {
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
}
#files {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
#files .folder, #files .file {
    cursor: pointer;
    white-space: nowrap;
}
#files .folder:hover, #files .file:hover {
    background-color: #ddd;
}
#files div.active {
    background-color: #ccc;
}
#files div.hidden span {
    color: #888;
}
#files div.image span, #files div.media span {
    color: #673AB7;
}
#files div.exec span {
    color: #388E3C;
}
#files div.link span {
    color: #00BCD4;
}
span.file-indicator.saved {
    color: #4CAF50;
}
span.file-indicator {
    color: #FF9800;
}
.context-menu-list {
    z-index: 5 !important;
}
.dragover {
    border: 1px solid #999;
}
.image-container {
    width: 100%;
    height: 100%;

    text-align: center;
    overflow: auto;
    padding: 30px;

    background-image: url("/static/images/transparent.png");
    background-repeat: repeat;
}
.image-container img {
    border: 1px solid black;
}
.help-pane {
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: white;
    overflow-y: auto;
}
