body {
    overflow: hidden;
}
#files .folder, #files .file {
    cursor: pointer;
    white-space: nowrap;
}
#files .folder:hover, #files .file:hover {
    background-color: #ddd;
}
.main {
    padding: 0;
}
#files {
    float: left;
    padding: 10px;
    overflow: auto;
    width: 250px;
    height: calc(100vh - 40px);
}
#editor-wrapper {
    float: right;
    width: calc(100vw - 250px);
    height: calc(100vh - 40px);
}
#tabs {
    width: 100%;
    height: 35px;
}
#editor {
    width: 100%;
    height: calc(100% - 35px);
}
#tabs .tab {
    display: inline-block;
    margin-top: 5px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-right: 5px;
    background-color: #ddd;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}
#tabs .tab .fa-times {
    padding-left: 5px;
    color: #ccc;
}
#tabs .tab.active .fa-times {
    color: #303F9F;
}
#tabs .tab .fa-times:hover {
    color: red;
}
#tabs .tab.active {
    cursor: default;
    color: white;
    background-color: #3F51B5;
}
