#public-key, #git-output {
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: white;
    padding: 5px;
}
#git-output {
    display: none;
    height: 175px;
    overflow-y: auto;
}
#generate-key, #git-pull {
    margin-bottom: 1rem;
}
#webhook-url {
    background-color: white;
}
