#public-key, #git-output {
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: white;
    padding: .5rem .75rem;
}
#git-output {
    display: none;
    height: 175px;
    overflow-y: auto;
}
#generate-key, #git-pull {
    margin-bottom: 1rem;
}
#webhook-url, #database-url {
    background-color: white;
    border: none;
    border-radius: 0;
}
#commit {
    margin-bottom: 15px;
}
#commit .fa {
    margin-top: 0.2em;
}
#commit .path {
    white-space: pre;
    width: 100%;
    width: calc(100% - 20px);
    overflow-x: auto;
}
#commit.commit .path::first-line {
    color: #C4A000;
}
.nav-pills > li.nav-item {
    float: none;
    display: inline-block;
}
.nav-pills {
    text-align: center;
}
#database-url {
    white-space: nowrap;
    overflow-x: auto;
}
#database-pass.hide {
    position: relative;
}
#database-pass.hide > span {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    cursor: pointer;
    min-width: 120px;
    display: inline-block;
    text-align: center;
}
#database-pass.hide:after {
    position: absolute;
    left: 50%;
    width: 140px;
    margin-left: -70px;
    margin-top: 2px;
    text-align: center;
    font-size: 11.5px;
    padding: 1px;
    outline: 1px solid black;
    background: white;
    cursor: pointer;
    content: "Click to show password";
}
