.main {
    padding: 0;
}
.sql-console-wrapper {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
}
.sql-console {
    width: 100%;
    height: 100%;
    background-color: white;
    font-size: 16px;
    font-family: monospace;
    overflow-y: auto;
}
.sql-console .output {
    font-size: 16px;
    font-family: monospace;
    width: 100%;
    padding: 5px;
    margin: 0;
    padding-bottom: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.sql-console .input {
    font-family: monospace;
    font-size: 16px;
    border: none;
    padding: 0;
    color: #484848;
}
.sql-console table {
    white-space: pre;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    width: 100%;
}
.sql-console table tr, .sql-console table td {
    margin: 0;
    padding: 0;
}
.sql-console .input-td {
    width: 99%;
}
.sql-console .input {
    width: 100%;
}
.sql-console .input:focus {
    outline: none;
}
