.main {
    padding-left: 0px;
    padding-right: 0px;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
#users {
    padding: 15px;
}
#users .user {
    display: block;
    color: #484848;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.08);
}
