.main {
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
}
@media (max-width:576px) {
    .main {
        padding-top: 80px;
    }
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
#users .user {
    display: block;
    color: #484848;
    text-decoration: none;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #ccc;
}
#users .user .tag {
    margin-left: 5px;
}
#users .user:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
#users .user .username {
    color: #888;
}
