.main {
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
}
@media (max-width:576px) {
    .main {
        padding-top: 80px;
    }
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
#vms .vm {
    color: #484848;
    display: block;
    text-decoration: none;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #ccc;
}
#vms .vm .tag {
    margin-left: 5px;
}
#vms .vm:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
#vms .vm .fa.pull-left {
    padding: 8px;
    margin-right: 5px;
    vertical-align: middle;
}
.sub {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.owner {
    color: #bbb;
}
.pull-left.fa {
    position: relative;
}
.pull-left.fa span {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    position: absolute;
    bottom: 5px;
    right: 0px;
    background-color: #FFEB3B;
}
.pull-left.fa span.red {
    background-color: #F44336;
}
.pull-left.fa span.green {
    background-color: #4CAF50;
}
.pull-left.fa span.blue {
    background-color: #00aff4;
}
